.social
	.social-text
		span socials
		p Get special bonuses, promocodes for money and latest news
	.social-list
		a.social-link.social-link--inst(href="#")
			+xlink('instagram', 'social-link')
		a.social-link.social-link--tg(href="#")
			+xlink('telegram', 'social-link')