.modal.modal--sm(id="modal-lang" data-modal)
	.modal-content.pattern
		.modal-head
			.modal-logo
				+xlink('logo', 'modal')
			button.modal-btn(data-modal-close)
				+xlink('close-rounded', 'modal')
		.modal-body
			.lang-wrap
				.lang-wrap__title.text-center Choose your language
				.lang-list
					.lang-item.isactive
						img.lang-item__img(src="img/en-flag.svg", alt="")
						.lang-item__text en
					.lang-item
						img.lang-item__img(src="img/br-flag.svg", alt="")
						.lang-item__text br (pt)
					.lang-item
						img.lang-item__img(src="img/kz-flag.svg", alt="")
						.lang-item__text kz
					.lang-item
						img.lang-item__img(src="img/ru-flag.svg", alt="")
						.lang-item__text ru
			.modal-footer
				.modal-footer__info
					.modal-footer__brand QUATTRO
					.modal-footer__text © 2023 Quattro
						br
						| All rights reserved and protected by law.


.modal.modal--sm(id="modal-providers" data-modal)
	.modal-content.pattern
		.modal-head
			.modal-logo
				+xlink('logo', 'modal')
			button.modal-btn(data-modal-close)
				+xlink('close-rounded', 'modal')
		.provider-wrap
			.provider-title(data-count="59")
				img(src="img/providers.svg", alt="")
				span Providers
			form.provider-search
				label.provider-search__field
					.provider-search__icon
						+xlink('search', 'search')
					input.provider-search__input(type="text" name="provider-search")
		.modal-body
			.provider-wrap
				.provider-grid
					.provider-item.isactive.
						<svg width="78" height="35" viewBox="0 0 78 35" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M66.8713 13.6392C63.0114 13.8746 64.7446 18.8087 69.0109 18.5483C73.1849 18.2936 70.9831 13.3884 66.8713 13.6392Z" fill="#FF9C2C"/>
								<path d="M65.244 10.5895C62.7852 10.5895 60.3811 11.3053 58.3364 12.6465C56.2917 13.9876 54.698 15.8939 53.757 18.1241C52.816 20.3544 52.5697 22.8086 53.0494 25.1762C53.5292 27.5438 54.7134 29.7186 56.4523 31.4256C58.1911 33.1325 60.4067 34.295 62.8188 34.7659C65.2302 35.2369 67.7304 34.9952 70.002 34.0714C72.2745 33.1476 74.2165 31.5832 75.5823 29.576C76.9489 27.5688 77.6779 25.209 77.6779 22.795C77.6779 19.5579 76.3682 16.4534 74.0362 14.1644C71.7042 11.8754 68.5414 10.5895 65.244 10.5895ZM65.244 33.7213C63.0431 33.7217 60.8917 33.0814 59.0615 31.8813C57.2313 30.6813 55.8048 28.9754 54.9622 26.9794C54.1197 24.9835 53.899 22.7871 54.3282 20.668C54.7573 18.5489 55.817 16.6024 57.3732 15.0745C58.9293 13.5466 60.9121 12.5061 63.0707 12.0845C65.2293 11.6628 67.4664 11.879 69.4999 12.7057C71.5334 13.5324 73.2718 14.9326 74.4943 16.729C75.7169 18.5253 76.37 20.6373 76.37 22.7979C76.37 25.6946 75.1975 28.4727 73.1114 30.5212C71.0252 32.5697 68.1954 33.7208 65.244 33.7213ZM64.8696 2.06869C61.9175 4.25896 62.4306 7.61787 62.4306 7.61787C62.4306 7.61787 60.5752 2.89041 58.1658 0.000488281C57.8408 3.72076 59.0283 8.65004 59.0283 8.65004C59.0283 8.65004 57.5196 5.59387 53.8229 5.4228C56.8892 7.15271 58.0787 10.2694 58.3509 11.1056C60.1782 9.99834 62.2675 9.37759 64.414 9.30452C64.1725 8.52607 63.3123 5.24597 64.8696 2.06869Z" fill="#FF9C2C"/>
								<path d="M1.08576 23.9887V26.5432H0.00292969V19.9619H2.28213C3.05489 19.9619 3.63578 20.1423 4.02479 20.503C4.41381 20.8637 4.60956 21.3577 4.61223 21.9849C4.61223 22.607 4.41277 23.0966 4.01401 23.4534C3.61525 23.8103 3.03928 23.9887 2.28601 23.9887H1.08576ZM3.50688 21.9849C3.50688 21.612 3.40085 21.3276 3.18871 21.1315C2.97656 20.9355 2.63655 20.8377 2.16859 20.8383H1.08576V23.1218H2.16859C3.06015 23.1218 3.50619 22.7428 3.50688 21.9849ZM9.08143 26.5432L7.41029 23.9147H6.64072V26.5432H5.55798V19.9619H7.92328C8.68888 19.9619 9.26977 20.1451 9.66594 20.5116C10.0621 20.8781 10.2599 21.3631 10.2593 21.9666C10.2593 22.4792 10.1121 22.9018 9.8177 23.2343C9.52333 23.5668 9.09912 23.778 8.54498 23.8676L10.3072 26.5432H9.08143ZM6.64072 23.1594H7.8352C8.70976 23.1594 9.14674 22.7804 9.14605 22.0224C9.14605 21.6623 9.04002 21.3811 8.82787 21.1786C8.61546 20.9768 8.28555 20.8759 7.8352 20.8759H6.64072V23.1594ZM15.2357 25.117H12.4052L11.8923 26.5432H10.7341L13.2032 20.0647H14.4475L16.9069 26.5432H15.7477L15.2357 25.117ZM14.9312 24.2972L13.82 21.2218L12.7088 24.2972H14.9312ZM22.3767 20.4837C22.9081 20.869 23.2821 21.428 23.4311 22.0599H22.2915C22.1495 21.7098 21.8983 21.4127 21.5739 21.2113C21.2203 20.994 20.8093 20.8836 20.3922 20.8941C19.9972 20.8878 19.6079 20.9875 19.2663 21.1824C18.9322 21.3768 18.662 21.6614 18.488 22.0023C18.2944 22.392 18.2001 22.822 18.2129 23.2555C18.2002 23.7038 18.2979 24.1486 18.4978 24.5519C18.675 24.8994 18.9544 25.1866 19.2996 25.3765C19.6679 25.573 20.0818 25.6723 20.5008 25.6648C21.0269 25.6738 21.5376 25.4902 21.9332 25.1497C22.3313 24.8114 22.5718 24.3469 22.6548 23.7561H20.1925V22.9728H23.5632V23.9887C23.4921 24.4622 23.312 24.9134 23.0365 25.3083C22.7571 25.7068 22.3822 26.0318 21.945 26.2549C21.465 26.4968 20.9316 26.6183 20.3922 26.6086C19.7871 26.6208 19.1899 26.4727 18.6633 26.1799C18.1693 25.9006 17.7674 25.4879 17.505 24.9911C17.2364 24.4495 17.0968 23.855 17.0968 23.2525C17.0968 22.6502 17.2364 22.0556 17.505 21.514C17.7663 21.0192 18.1665 20.6083 18.6583 20.33C19.1842 20.0402 19.7795 19.8939 20.3824 19.9061C21.1807 19.9061 21.8454 20.0987 22.3767 20.4837ZM31.2085 20.0647V26.5432H30.1159V21.687L28.2078 26.5432H27.2581L25.3392 21.687V26.5432H24.2574V20.0647H25.5673L27.7515 25.2381L29.8976 20.0647H31.2085ZM36.507 25.117H33.6815L33.1685 26.5432H32.0064L34.4755 20.0647H35.7189L38.1792 26.5432H37.02L36.507 25.117ZM36.2035 24.2972L35.0923 21.2218L33.9811 24.2972H36.2035ZM42.8129 19.9619V20.8192H40.942V26.5432H39.8494V20.8192H37.9893V19.9619H42.8129ZM44.4744 19.9619V26.5432H43.3925V19.9619H44.4744ZM50.6001 20.5116C51.1494 20.9293 51.5378 21.518 51.7015 22.1809H50.5522C50.4054 21.7969 50.1418 21.4664 49.7973 21.2343C49.4214 20.9925 48.9787 20.8703 48.5295 20.8845C48.1527 20.8786 47.7821 20.9786 47.4614 21.1728C47.1407 21.3743 46.8839 21.66 46.7203 21.9974C46.5421 22.3907 46.4501 22.8163 46.4501 23.2468C46.4501 23.6772 46.5421 24.1029 46.7203 24.4962C46.8837 24.834 47.1404 25.1201 47.4614 25.3218C47.7821 25.516 48.1527 25.616 48.5295 25.6101C48.9786 25.6245 49.4213 25.5027 49.7973 25.2612C50.14 25.0313 50.4032 24.7045 50.5522 24.3242H51.7015C51.5388 24.9859 51.1501 25.573 50.6001 25.9877C50.0558 26.3953 49.3721 26.599 48.549 26.599C47.9598 26.6099 47.3787 26.4631 46.8681 26.1741C46.3832 25.8944 45.9909 25.4833 45.7383 24.9901C45.4752 24.4469 45.3388 23.853 45.3388 23.2516C45.3388 22.6502 45.4752 22.0563 45.7383 21.513C45.9919 21.0192 46.3838 20.6068 46.8681 20.3242C47.3778 20.0328 47.9593 19.8845 48.549 19.8956C49.3714 19.8962 50.0551 20.1015 50.6001 20.5116ZM56.8091 23.9887V26.5432H55.7273V19.9619H58.0065C58.7779 19.9619 59.3588 20.1423 59.7491 20.503C60.1394 20.8637 60.3353 21.3577 60.3366 21.9849C60.3366 22.607 60.1372 23.0966 59.7384 23.4534C59.3396 23.8103 58.7636 23.9887 58.0104 23.9887H56.8091ZM59.2341 21.9849C59.2341 21.612 59.1281 21.3276 58.916 21.1315C58.7039 20.9355 58.3635 20.8377 57.8949 20.8383H56.8091V23.1218H57.892C58.7867 23.1218 59.2341 22.7428 59.2341 21.9849ZM62.1936 25.7139H64.511V26.5432H61.111V19.9619H62.1936V25.7139ZM69.4683 25.117H66.6385L66.1252 26.5432H64.9665L67.4365 20.0647H68.6797L71.1403 26.5432H69.9808L69.4683 25.117ZM69.1646 24.2972L68.0534 21.2218L66.9422 24.2972H69.1646ZM75.4859 19.9619L73.2549 24.1473V26.5432H72.1652V24.1473L69.9238 19.9619H71.1783L72.7174 23.0104L74.2557 19.9619H75.4859Z" fill="var(--base-color)"/>
						</svg>
					- for (let x = 0; x < 39; x++)
						.provider-item.
							<svg width="78" height="35" viewBox="0 0 78 35" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M66.8713 13.6392C63.0114 13.8746 64.7446 18.8087 69.0109 18.5483C73.1849 18.2936 70.9831 13.3884 66.8713 13.6392Z" fill="#FF9C2C"/>
								<path d="M65.244 10.5895C62.7852 10.5895 60.3811 11.3053 58.3364 12.6465C56.2917 13.9876 54.698 15.8939 53.757 18.1241C52.816 20.3544 52.5697 22.8086 53.0494 25.1762C53.5292 27.5438 54.7134 29.7186 56.4523 31.4256C58.1911 33.1325 60.4067 34.295 62.8188 34.7659C65.2302 35.2369 67.7304 34.9952 70.002 34.0714C72.2745 33.1476 74.2165 31.5832 75.5823 29.576C76.9489 27.5688 77.6779 25.209 77.6779 22.795C77.6779 19.5579 76.3682 16.4534 74.0362 14.1644C71.7042 11.8754 68.5414 10.5895 65.244 10.5895ZM65.244 33.7213C63.0431 33.7217 60.8917 33.0814 59.0615 31.8813C57.2313 30.6813 55.8048 28.9754 54.9622 26.9794C54.1197 24.9835 53.899 22.7871 54.3282 20.668C54.7573 18.5489 55.817 16.6024 57.3732 15.0745C58.9293 13.5466 60.9121 12.5061 63.0707 12.0845C65.2293 11.6628 67.4664 11.879 69.4999 12.7057C71.5334 13.5324 73.2718 14.9326 74.4943 16.729C75.7169 18.5253 76.37 20.6373 76.37 22.7979C76.37 25.6946 75.1975 28.4727 73.1114 30.5212C71.0252 32.5697 68.1954 33.7208 65.244 33.7213ZM64.8696 2.06869C61.9175 4.25896 62.4306 7.61787 62.4306 7.61787C62.4306 7.61787 60.5752 2.89041 58.1658 0.000488281C57.8408 3.72076 59.0283 8.65004 59.0283 8.65004C59.0283 8.65004 57.5196 5.59387 53.8229 5.4228C56.8892 7.15271 58.0787 10.2694 58.3509 11.1056C60.1782 9.99834 62.2675 9.37759 64.414 9.30452C64.1725 8.52607 63.3123 5.24597 64.8696 2.06869Z" fill="#FF9C2C"/>
								<path d="M1.08576 23.9887V26.5432H0.00292969V19.9619H2.28213C3.05489 19.9619 3.63578 20.1423 4.02479 20.503C4.41381 20.8637 4.60956 21.3577 4.61223 21.9849C4.61223 22.607 4.41277 23.0966 4.01401 23.4534C3.61525 23.8103 3.03928 23.9887 2.28601 23.9887H1.08576ZM3.50688 21.9849C3.50688 21.612 3.40085 21.3276 3.18871 21.1315C2.97656 20.9355 2.63655 20.8377 2.16859 20.8383H1.08576V23.1218H2.16859C3.06015 23.1218 3.50619 22.7428 3.50688 21.9849ZM9.08143 26.5432L7.41029 23.9147H6.64072V26.5432H5.55798V19.9619H7.92328C8.68888 19.9619 9.26977 20.1451 9.66594 20.5116C10.0621 20.8781 10.2599 21.3631 10.2593 21.9666C10.2593 22.4792 10.1121 22.9018 9.8177 23.2343C9.52333 23.5668 9.09912 23.778 8.54498 23.8676L10.3072 26.5432H9.08143ZM6.64072 23.1594H7.8352C8.70976 23.1594 9.14674 22.7804 9.14605 22.0224C9.14605 21.6623 9.04002 21.3811 8.82787 21.1786C8.61546 20.9768 8.28555 20.8759 7.8352 20.8759H6.64072V23.1594ZM15.2357 25.117H12.4052L11.8923 26.5432H10.7341L13.2032 20.0647H14.4475L16.9069 26.5432H15.7477L15.2357 25.117ZM14.9312 24.2972L13.82 21.2218L12.7088 24.2972H14.9312ZM22.3767 20.4837C22.9081 20.869 23.2821 21.428 23.4311 22.0599H22.2915C22.1495 21.7098 21.8983 21.4127 21.5739 21.2113C21.2203 20.994 20.8093 20.8836 20.3922 20.8941C19.9972 20.8878 19.6079 20.9875 19.2663 21.1824C18.9322 21.3768 18.662 21.6614 18.488 22.0023C18.2944 22.392 18.2001 22.822 18.2129 23.2555C18.2002 23.7038 18.2979 24.1486 18.4978 24.5519C18.675 24.8994 18.9544 25.1866 19.2996 25.3765C19.6679 25.573 20.0818 25.6723 20.5008 25.6648C21.0269 25.6738 21.5376 25.4902 21.9332 25.1497C22.3313 24.8114 22.5718 24.3469 22.6548 23.7561H20.1925V22.9728H23.5632V23.9887C23.4921 24.4622 23.312 24.9134 23.0365 25.3083C22.7571 25.7068 22.3822 26.0318 21.945 26.2549C21.465 26.4968 20.9316 26.6183 20.3922 26.6086C19.7871 26.6208 19.1899 26.4727 18.6633 26.1799C18.1693 25.9006 17.7674 25.4879 17.505 24.9911C17.2364 24.4495 17.0968 23.855 17.0968 23.2525C17.0968 22.6502 17.2364 22.0556 17.505 21.514C17.7663 21.0192 18.1665 20.6083 18.6583 20.33C19.1842 20.0402 19.7795 19.8939 20.3824 19.9061C21.1807 19.9061 21.8454 20.0987 22.3767 20.4837ZM31.2085 20.0647V26.5432H30.1159V21.687L28.2078 26.5432H27.2581L25.3392 21.687V26.5432H24.2574V20.0647H25.5673L27.7515 25.2381L29.8976 20.0647H31.2085ZM36.507 25.117H33.6815L33.1685 26.5432H32.0064L34.4755 20.0647H35.7189L38.1792 26.5432H37.02L36.507 25.117ZM36.2035 24.2972L35.0923 21.2218L33.9811 24.2972H36.2035ZM42.8129 19.9619V20.8192H40.942V26.5432H39.8494V20.8192H37.9893V19.9619H42.8129ZM44.4744 19.9619V26.5432H43.3925V19.9619H44.4744ZM50.6001 20.5116C51.1494 20.9293 51.5378 21.518 51.7015 22.1809H50.5522C50.4054 21.7969 50.1418 21.4664 49.7973 21.2343C49.4214 20.9925 48.9787 20.8703 48.5295 20.8845C48.1527 20.8786 47.7821 20.9786 47.4614 21.1728C47.1407 21.3743 46.8839 21.66 46.7203 21.9974C46.5421 22.3907 46.4501 22.8163 46.4501 23.2468C46.4501 23.6772 46.5421 24.1029 46.7203 24.4962C46.8837 24.834 47.1404 25.1201 47.4614 25.3218C47.7821 25.516 48.1527 25.616 48.5295 25.6101C48.9786 25.6245 49.4213 25.5027 49.7973 25.2612C50.14 25.0313 50.4032 24.7045 50.5522 24.3242H51.7015C51.5388 24.9859 51.1501 25.573 50.6001 25.9877C50.0558 26.3953 49.3721 26.599 48.549 26.599C47.9598 26.6099 47.3787 26.4631 46.8681 26.1741C46.3832 25.8944 45.9909 25.4833 45.7383 24.9901C45.4752 24.4469 45.3388 23.853 45.3388 23.2516C45.3388 22.6502 45.4752 22.0563 45.7383 21.513C45.9919 21.0192 46.3838 20.6068 46.8681 20.3242C47.3778 20.0328 47.9593 19.8845 48.549 19.8956C49.3714 19.8962 50.0551 20.1015 50.6001 20.5116ZM56.8091 23.9887V26.5432H55.7273V19.9619H58.0065C58.7779 19.9619 59.3588 20.1423 59.7491 20.503C60.1394 20.8637 60.3353 21.3577 60.3366 21.9849C60.3366 22.607 60.1372 23.0966 59.7384 23.4534C59.3396 23.8103 58.7636 23.9887 58.0104 23.9887H56.8091ZM59.2341 21.9849C59.2341 21.612 59.1281 21.3276 58.916 21.1315C58.7039 20.9355 58.3635 20.8377 57.8949 20.8383H56.8091V23.1218H57.892C58.7867 23.1218 59.2341 22.7428 59.2341 21.9849ZM62.1936 25.7139H64.511V26.5432H61.111V19.9619H62.1936V25.7139ZM69.4683 25.117H66.6385L66.1252 26.5432H64.9665L67.4365 20.0647H68.6797L71.1403 26.5432H69.9808L69.4683 25.117ZM69.1646 24.2972L68.0534 21.2218L66.9422 24.2972H69.1646ZM75.4859 19.9619L73.2549 24.1473V26.5432H72.1652V24.1473L69.9238 19.9619H71.1783L72.7174 23.0104L74.2557 19.9619H75.4859Z" fill="var(--base-color)"/>
						</svg>
			.modal-footer
				.modal-footer__info
					.modal-footer__brand QUATTRO
					.modal-footer__text © 2023 Quattro
						br
						| All rights reserved and protected by law.

.modal.modal--lg(id="modal-search" data-modal)
	.modal-content.pattern
		.games
			form.games-search
				label.games-search__field
					.games-search__icon
						+xlink('search', 'search')
					input.games-search__input(type="text" name="games-search" placeholder="Search from more than 3000 Games")
			.games-search-result
				.games-search-result__title.text-center
					span Search result 
						span.text-primary “Dog house”
					.games-search-result__count
						span found 
						span.text-primary 12
			.games-search-result
				.games-search-result__title.text-center
					span Your search result will be here
		.modal-body
			.games-container
				.games-grid.games-grid--result
					- for (let x = 0; x < 5; x++)
						.game-placeholder
				.games-grid.games-grid--result
					- for (let x = 0; x < 10; x++)
						+game(false, 'top', true)
				.section
					.section-head
						.section-head__side-left
							h2.section-title(data-count="659")
								span(data-long-title="🥇 top games" data-short-title="🥇 top games")
						.section-head__side-center
							.swiper-pagination
						.section-head__side-right
							a.section-head__link(href="#")
								span(data-text-sm="all" data-text-md="see all")
				.games-grid
					- for (let x = 0; x < 10; x++)
						+game(false, 'top', true)

.modal.modal--sm.modal--topbtn(id="modal-autorisation" data-modal)
	.modal-content.pattern.autorisation
		.modal-content__row
			.modal-content__left.autorisation-img
				.autorisation-img__content
					img(src="img/modal-img1.jpg", alt="")
				.autorisation-img__content
					img(src="img/modal-img2.jpg", alt="")
			.modal-content__right
				.autorisation-nav
					.tab-switcher.tab-switcher--bg
						a.tab-switcher__item.isactive(href="#autorisation-registration")
							span.text-uppercase registration
						a.tab-switcher__item(href="#autorisation-login")
							span.text-uppercase login
						.tab-switcher__indicator
				.autorisation-content
					.autorisation-content__item.isactive(data-tab-content id="autorisation-registration")
						.autorisation-head.text-center
							.autorisation__title Registration
							.autorisation__text Already have an account? 
								a(href="#" onclick='remoteClick(`[href="#autorisation-login"]`)')
									b Log In
						.autorisation-main
							form.form
								.promo-select.promo-select--sm
									.promo-select__current
										.promo-select__list
											.promo-select__item.promo-select__item--orange.isactive
												.promo-select__content
													.promo-select__label First deposit casino bonus
													.promo-select__text +150% up to €1000 + 120FS
												.promo-select__radiobtn
											.promo-select__item.promo-select__item--green
												.promo-select__content
													.promo-select__label First deposit casino bonus
													.promo-select__text +100% up to €1000 + 120FS
												.promo-select__radiobtn
											.promo-select__item.promo-select__item--pink
												+xlink('promo', 'promo-select')
												.form-field.form-field--light
													input.form-input(type="text")
													.form-label Promocode
												.promo-select__content
													.promo-select__text I have promocode
												.promo-select__radiobtn
											.promo-select__item.promo-select__item--gray
												+xlink('cross', 'promo-select')
												.promo-select__content
													.promo-select__text Without Bonus
												.promo-select__radiobtn
								label.form-field
									input.form-input(type="email" name="email" required)
									span.form-label E-mail
								.form-select
									input(type="hidden" name="currency")
									.form-select__current
										.form-select__label Currency
										span EUR
									.form-select__list
										.form-select__item(data-select-value="rub") RUB
										.form-select__item(data-select-value="eur") EUR
										.form-select__item(data-select-value="usd") USD
										.form-select__item(data-select-value="kzt") KZT
								button.btn.btn--primary.btn--md.text-uppercase.mt-1.mb-1(type="submit") Register
								label.form-field
									input.form-checkbox(type="checkbox" name="policy" required)
									small I accept the current 
										a(href="#") Agreement 
										| and 
										a(href="#") Privacy Policy
								label.form-field
									input.form-checkbox(type="checkbox" name="policy" required)
									small 🎁 Get exclusive offers and promotions from Quattro Сasino
						.autorisation-footer
							.modal-footer__info
								.modal-footer__brand QUATTRO
								.modal-footer__text © 2023 Quattro
									br
									| All rights reserved and protected by law.
					.autorisation-content__item(data-tab-content id="autorisation-login")
						.autorisation-head.text-center
							.autorisation__title login
							.autorisation__text Don’t have an account? 
								a(href="#" onclick='remoteClick(`[href="#autorisation-registration"]`)')
									b Register
						.autorisation-main
							form.form
								label.form-field
									input.form-input(type="email" name="email" required)
									span.form-label E-mail
								label.form-field
									input.form-input(type="password" name="password" required)
									span.form-label Password

								button.btn.btn--secondary.btn--md.text-uppercase.mt-1.mb-1(type="submit") Login
								a.text-center(href="#") 
									b 
										small Forgot your password?
						.autorisation-footer
							.modal-footer__info
								.modal-footer__brand QUATTRO
								.modal-footer__text © 2023 Quattro
									br
									| All rights reserved and protected by law.