@import ../mixins/_mixins

*, ::before, ::after
	padding: 0
	margin: 0
	box-sizing: border-box

html
	font-family: var(--base-font)
	font-size: 16px
	font-weight: 400
	-webkit-font-smoothing: antialiased
	height: auto
	min-height: 100%
	overflow-x: hidden
	&._scroll-lock
		overflow: hidden
		._overlay
			opacity: 1
			pointer-events: auto
			visibility: visible
		body
			overflow: hidden

body
	background-color: var(--body-bg)
	color: var(--base-color)
	height: auto
	min-height: 100%
	scroll-behavior: smooth
	transition: color .25s ease, background-color .25s ease
	overflow-x: hidden
	&.inner
		padding-top: var(--header-height)

::-webkit-scrollbar
	width: 8px
	height: 6px
::-webkit-scrollbar-track
	background-color: var(--nav-bg-base)
::-webkit-scrollbar-thumb
	background-color: var(--nav-bg-hover)

._overlay
	position: fixed
	height: 100%
	width: 100%
	top: 0
	left: 0
	background: rgba(21, 19, 57, 0.86)
	z-index: 25
	transition: 0.25s ease
	opacity: 0
	pointer-events: none
	visibility: hidden


ul, ul ul
	padding: 0
	margin: 0
	list-style: none

img
	display: block
	max-width: 100%
	height: auto

svg
	display: block
	flex: none
	pointer-events: none

a
	color: inherit

.container
	max-width: 1920px
	padding: 0 94px
	margin: 0 auto
	+sm()
		padding: 0 20px
	+xs()
		padding: 0 8px

.row
	display: flex

.blur-up
	filter: blur(5px)
	transition: filter 400ms

	&.lazyloaded
		filter: blur(0)

.icon
	flex: none
	height: 25px
	width: 25px
	display: block
	svg
		display: block
		height: inherit
		width: inherit
.gr
	&--violet
		background: linear-gradient(283.35deg, #A62EE0 -3.42%, #EA3589 44.81%, #5538F4 101.83%)
	&--orange
		background: linear-gradient(312.69deg, #D4315E -1.33%, #EE9F3E 111.07%)
	&--green
		background: linear-gradient(304.38deg, #3ADED4 -5.98%, #72F49F 103.49%)
	&--blue
		background: linear-gradient(225.4deg, #52B9F8 11.2%, #235DD7 84.07%)
	&--pink
		background: linear-gradient(352.78deg, #EA3589 -15.59%, #FF7EBA 110.86%)
.bd
	&-b
		border-bottom: 2px solid var(--light-bg)
.fill
	&-primary
		fill: color(--primary-color) !important
	&-secondary
		fill: color(--secondary-color) !important
.inner
	&-banner
		position: relative
		user-select: none
		height: 100%
		min-height: 170px
		display: flex
		align-items: center
		justify-content: center
		+xs()
			min-height: 100px
		img
			position: absolute
			left: 0
			top: 0
			height: 100%
			width: 100%
		img
			object-fit: cover
		&__title
			position: relative
			text-transform: uppercase
			font-weight: 700
			color: #fff
			font-size: 26px
			display: flex
			align-items: center
			gap: 14px
			+xs()
				font-size: 20px
	&__icon
		flex: none
		height: 28px
		width: 26px
		fill: currentColor
		+xs()
			height: 20px
			width: 20px
	&__content
		padding: 50px 0
		+xs()
			padding: 30px 0
	&-head
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 40px
		+xs()
			margin-bottom: 30px
		&__title
			gap: 18px
			align-items: center
			display: flex
			font-size: 30px
			font-weight: 800
			text-transform: uppercase
			+xs()
				gap: 10px
				font-size: 19px
		&__side
			display: flex
			align-items: center
			gap: 16px

.section
	margin-bottom: 14px
	+xs()
		margin-bottom: 24px
	&-carousel
		.section-head__side-center, .swiper-nav
			+sm()
				display: none
		&--bg
			padding: 20px
			border-radius: 3px
			background-color: var(--base-bg)
			+sm()
				padding: 0
				background-color: transparent
		.swiper
			+sm()
				overflow: unset
	&-title
		display: flex
		align-items: center
		font-weight: 800
		font-size: 19px
		gap: 16px
		text-transform: uppercase
		+xs()
			font-size: 17px
		&__icon
			height: 24px
			width: 24px
			fill: currentColor
		&[data-count]::after
			content: attr(data-count)
			font-weight: 800
			font-size: 13px
			padding: 7px 13px
			background-color: var(--light-bg)
			color: var(--base-color)
			border-radius: 6px
			+sm()
				background-color: var(--base-bg)
		span
			&::after
				display: block
				content: attr(data-long-title)
				+xs()
					content: attr(data-short-title)
	&-head
		display: flex
		align-items: center
		justify-content: space-between
		gap: 30px
		margin-bottom: 16px
		+sm()
			gap: 16px
		+xs()
			margin-bottom: 20px
			gap: 6px
		&__link
			display: flex
			align-items: center
			gap: 4px
			position: relative
			text-transform: uppercase
			text-decoration: none
			padding: 10px 15px
			border-radius: 6px
			background-color: var(--light-bg)
			color: var(--base-color)
			&-icon
				flex: none
				margin-right: 5px
				+sm()
					display: none
			span
				font-weight: 800
				font-size: 12px
				&::before
					content: attr(data-text-md)
					+sm()
						content: attr(data-text-sm)
				
			+sm()
				background-color: var(--base-bg)
				&::after
					content: ''
					transform: rotate(-45deg)
					height: 8px
					width: 8px
					border-bottom: 2px solid
					border-right: 2px solid
					border-color: var(--base-color)
		&__side
			&-left
				display: flex
				align-items: center
				flex: 1
				gap: 12px
				+sm()
					flex: unset
			&-center
				position: relative
				flex: 1
				display: flex
				align-items: center
				+sm()
					display: none
			&-right
				display: flex
				align-items: center
				flex: 1
				justify-content: flex-end
				gap: 12px
				+sm()
					flex: unset

.coin
	position: relative
	display: flex
	align-items: center
	&::before
		content: ''
		margin-right: 6px
		height: 24px
		width: 24px
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 24.207C18.6873 24.207 23.7031 19.1912 23.7031 13.0039C23.7031 6.81659 18.6873 1.80078 12.5 1.80078C6.31269 1.80078 1.29688 6.81659 1.29688 13.0039C1.29688 19.1912 6.31269 24.207 12.5 24.207Z' fill='%23D68F30'/%3E%3Cpath d='M2.05859 15.9141V17.0586C2.17578 17.3613 2.30664 17.6602 2.44922 17.9492V15.9141H2.05859ZM3.33594 18.0684V19.4434C3.49219 19.6641 3.6543 19.8809 3.82422 20.0898V18.0684H3.33594ZM5.02735 19.8652V21.3477C5.2168 21.5176 5.41211 21.6797 5.61328 21.8359V19.8652H5.02735ZM7.10938 21.2305V22.8242C7.30078 22.9297 7.4961 23.0293 7.69532 23.125V21.2305H7.10938ZM9.47071 22.0996V23.7871C9.66407 23.8418 9.85938 23.8906 10.0566 23.9356V22.0996H9.47071ZM12.2344 22.4004V24.1992C12.3223 24.2012 12.4102 24.2051 12.5 24.2051C12.6074 24.2051 12.7149 24.1992 12.8203 24.1973V22.4004H12.2344ZM14.9981 22.0859V23.9219C15.1953 23.877 15.3906 23.8262 15.584 23.7715V22.0859H14.9981ZM17.3535 21.2051V23.1016C17.5527 23.0059 17.7481 22.9023 17.9395 22.7949V21.2051H17.3535ZM19.4297 19.8281V21.8008C19.6307 21.6437 19.8262 21.4795 20.0156 21.3086V19.8281H19.4297ZM21.6973 18.0254H21.209V20.0469C21.3789 19.8359 21.543 19.6191 21.6973 19.3965V18.0254ZM22.9668 15.8633H22.5762V17.9023C22.7188 17.6074 22.8496 17.3047 22.9668 16.998V15.8633Z' fill='%23BC6F00'/%3E%3Cpath d='M12.5 23.1992C18.6873 23.1992 23.7031 18.1834 23.7031 11.9961C23.7031 5.80878 18.6873 0.792969 12.5 0.792969C6.31269 0.792969 1.29688 5.80878 1.29688 11.9961C1.29688 18.1834 6.31269 23.1992 12.5 23.1992Z' fill='%23FFF176'/%3E%3Cpath d='M12.5 22.2012C18.1361 22.2012 22.7051 17.6322 22.7051 11.9961C22.7051 6.35999 18.1361 1.79102 12.5 1.79102C6.86389 1.79102 2.29492 6.35999 2.29492 11.9961C2.29492 17.6322 6.86389 22.2012 12.5 22.2012Z' fill='%23F2BC1A'/%3E%3Cpath d='M2.27469 12.3867C2.20242 11.043 2.43485 9.67969 2.9036 8.40235C3.39188 7.12891 4.13992 5.95117 5.08328 4.95117C6.97781 2.94727 9.72781 1.78516 12.4993 1.77148C15.2708 1.78711 18.0227 2.94727 19.9133 4.95313C20.8587 5.95117 21.6048 7.13086 22.093 8.40235C22.5637 9.68164 22.7962 11.043 22.7219 12.3867H22.6829C22.679 11.0462 22.4137 9.71934 21.9016 8.48047C21.3887 7.243 20.6397 6.11724 19.6966 5.16602C18.7528 4.21573 17.6312 3.46049 16.3958 2.94336C15.1607 2.4277 13.8357 2.16219 12.4973 2.16219C11.159 2.16219 9.83393 2.4277 8.5989 2.94336C7.36347 3.46049 6.24189 4.21573 5.29813 5.16602C4.3543 6.11672 3.60525 7.24262 3.09305 8.48047C2.58102 9.71934 2.31564 11.0462 2.3118 12.3867H2.27469Z' fill='%23E08F00'/%3E%3Cpath d='M12.5 0.794922C6.3125 0.794922 1.29688 5.81055 1.29688 11.998C1.29688 18.1855 6.3125 23.2012 12.5 23.2012C18.6875 23.2012 23.7031 18.1855 23.7031 11.998C23.7031 5.81055 18.6875 0.794922 12.5 0.794922ZM12.5 22.2031C6.86328 22.2031 2.29492 17.6348 2.29492 11.998C2.29492 6.35938 6.86328 1.79102 12.5 1.79102C18.1367 1.79102 22.7051 6.35937 22.7051 11.9961C22.7051 17.6328 18.1367 22.2031 12.5 22.2031Z' fill='%23FFF176'/%3E%3Crect x='7.93164' y='10.748' width='2.62871' height='2.59116' fill='%23FFF176'/%3E%3Crect x='14.3457' y='10.748' width='2.62871' height='2.59116' fill='%23FFF176'/%3E%3Crect x='11.1309' y='13.917' width='2.62871' height='2.59116' fill='%23FFF176'/%3E%3Crect x='11.1309' y='7.5791' width='2.62871' height='2.59116' fill='%23FFF176'/%3E%3Cpath d='M10.5604 7.5791V10.1703H7.93164C8.81227 9.31084 9.6884 8.44707 10.5604 7.5791Z' fill='%23FFF176'/%3E%3Cpath d='M16.9746 10.1703H14.3459V7.5791C15.2178 8.44715 16.0941 9.31077 16.9746 10.1703Z' fill='%23FFF176'/%3E%3Cpath d='M7.93164 13.9167H10.5604V16.5078C9.68848 15.6398 8.81219 14.7761 7.93164 13.9167Z' fill='%23FFF176'/%3E%3Cpath d='M14.2617 13.9167H16.8904V16.5078C16.0186 15.6398 15.1423 14.7761 14.2617 13.9167Z' fill='%23FFF176'/%3E%3C/svg%3E%0A")

.theme-switcher
	display: block
	flex: none
	position: relative
	width: 50px
	height: 24px
	border-radius: 50px
	background-color: #E9E9EA
	cursor: pointer
	+dark()
		background: #1B1C2F
		.theme-switcher__icon
			background-color: #424564
	&::after, &::before
		content: ''
		height: 100%
		width: 50%
		position: absolute
		pointer-events: none
		background-repeat: no-repeat
		top: 0
	&::before
		left: 0
		background-position: center left 50%
		background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.92679 12.6349C4.66754 13.2404 1.95854 12.317 0.52179 10.5162C0.454284 10.4316 0.41167 10.3298 0.398719 10.2223C0.385769 10.1148 0.402992 10.0058 0.448461 9.90758C0.49393 9.80932 0.565851 9.72565 0.656172 9.66594C0.746493 9.60623 0.851651 9.57283 0.959873 9.56949C3.28387 9.50066 4.84604 8.70324 5.72571 7.17899C6.60654 5.65474 6.51554 3.90299 5.41362 1.85608C5.36223 1.76067 5.33843 1.65283 5.34489 1.54465C5.35135 1.43647 5.38782 1.33223 5.4502 1.24362C5.51259 1.155 5.59843 1.08552 5.69809 1.04296C5.79776 1.0004 5.90731 0.986446 6.01446 1.00266C8.29179 1.34683 10.446 3.23099 11.0515 5.49083C11.8857 8.60233 10.0383 11.8013 6.92679 12.6349Z' fill='%23B6B7CE'/%3E%3C/svg%3E%0A")
	&::after
		right: 0
		background-position: center right 70%
		background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.17958 6.39275C3.17958 8.1581 4.60341 9.5892 6.35981 9.5892C8.1162 9.5892 9.54004 8.1581 9.54004 6.39275C9.54004 4.62739 8.1162 3.19629 6.35981 3.19629C4.60341 3.19629 3.17958 4.62739 3.17958 6.39275Z' fill='%23151339' fill-opacity='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.36124 2.39739C6.80068 2.39739 7.15625 2.04001 7.15625 1.59833V0.799064C7.15625 0.357382 6.80068 0 6.36124 0C5.9218 0 5.56623 0.357382 5.56623 0.799064V1.59813C5.56623 2.04001 5.9218 2.39739 6.36124 2.39739Z' fill='%23151339' fill-opacity='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.54924 2.43761L2.98617 1.87187C2.67572 1.55964 2.17248 1.55964 1.86203 1.87187C1.55158 2.18391 1.55158 2.68971 1.86203 3.00195L2.4249 3.56789C2.73535 3.87992 3.23879 3.87992 3.54924 3.56789C3.85989 3.25545 3.85989 2.74984 3.54924 2.43761Z' fill='%23151339' fill-opacity='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.38574 6.39281C2.38574 5.95113 2.03017 5.59375 1.59073 5.59375H0.795527C0.356086 5.59375 0.00051856 5.95113 0.00051856 6.39281C0.00051856 6.8345 0.356086 7.19188 0.795527 7.19188L1.59073 7.19108C2.03017 7.19188 2.38574 6.8337 2.38574 6.39281Z' fill='%23151339' fill-opacity='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.54869 10.3467C3.85994 10.0353 3.85994 9.52946 3.54949 9.21742C3.23904 8.90539 2.7356 8.90539 2.42515 9.21742L1.86308 9.78256C1.55104 10.0946 1.55263 10.6004 1.86308 10.9124C2.17353 11.2245 2.67597 11.2253 2.98722 10.9124L3.54869 10.3467Z' fill='%23151339' fill-opacity='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.15625 11.987L7.15466 11.1861C7.15625 10.7461 6.80068 10.3887 6.36124 10.3887C5.9218 10.3871 5.56623 10.7461 5.56623 11.1861V11.9854C5.56464 12.4287 5.9218 12.7845 6.36124 12.7845C6.79989 12.7853 7.15625 12.4287 7.15625 11.987Z' fill='%23151339' fill-opacity='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.17053 10.3467L9.7328 10.9116C10.044 11.2261 10.5465 11.2237 10.8571 10.9116C11.1686 10.6002 11.1686 10.0946 10.8579 9.78256L10.2943 9.21742C9.98521 8.90539 9.48217 8.90539 9.17152 9.21742C8.85908 9.52786 8.86067 10.0353 9.17053 10.3467Z' fill='%23151339' fill-opacity='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3363 6.39281C10.3331 6.8337 10.6919 7.19188 11.1297 7.19188H11.9247C12.3657 7.19188 12.7197 6.8345 12.7197 6.39281C12.7213 5.95113 12.3657 5.59375 11.9261 5.59375L11.1295 5.59535C10.6919 5.59375 10.3363 5.95113 10.3363 6.39281Z' fill='%23151339' fill-opacity='0.5'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.17094 2.43971C8.86049 2.75034 8.86049 3.25455 9.17174 3.56759C9.48 3.88202 9.98463 3.88042 10.2945 3.56918L10.8566 3.00405C11.1688 2.69041 11.1664 2.1862 10.8566 1.87397C10.5467 1.55934 10.0437 1.55934 9.73301 1.87157L9.17094 2.43971Z' fill='%23151339' fill-opacity='0.5'/%3E%3C/svg%3E%0A")
	&__input
		height: 1px
		width: 1px
		opacity: 0
		&:checked ~ .theme-switcher__icon
			left: 27px
	&__icon
		position: absolute
		height: 21px
		width: 21px
		background-color: #fff
		border-radius: 50px
		top: 50%
		transform: translateY(-50%)
		left: 2px
		transition: .25s ease
		z-index: 1


.m
	&t
		&-2
			margin-top: 2em
		&-1
			margin-top: 1em
		&-auto
			margin-top: auto
	&b
		&-1
			margin-bottom: 1em
		&-2
			margin-bottom: 2em

.d
	&-inline-flex
		display: inline-flex
	&-flex
		display: flex
	&-none
		display: none !important
	&-xs
		&-flex
			+xs()
				display: flex !important
		&-block
			+xs()
				display: block !important
		&-none
			+xs()
				display: none !important
	&-sm
		&-flex
			+sm()
				display: flex !important
		&-block
			+sm()
				display: block !important
		&-none
			+sm()
				display: none !important


.pattern
	position: relative
	&::after
		content: ''
		height: 25px
		width: 100%
		left: 0
		bottom: 0
		position: absolute
		background-size: contain
		background-repeat: repeat-x
		background-image: url("data:image/svg+xml,%3Csvg id='Vector' xmlns='http://www.w3.org/2000/svg' width='1143.792' height='143' viewBox='0 0 1143.792 143'%3E%3Cpath d='M143,0H331L286,143H143Z' transform='translate(-143)' fill='%23151339'/%3E%3Cpath d='M35.566,0H188L143,143H0Z' fill='%233aded4'/%3E%3Cpath d='M35.257.042,143,143H0Z' fill='%23ea3589'/%3E%3Cpath d='M188,0H331L286,143H143Z' fill='%23151339'/%3E%3Cpath d='M331,0H474L429,143H286Z' transform='translate(-0.044)' fill='%23ea3589'/%3E%3Cpath d='M331,0l98,143H286Z' transform='translate(-0.042)' fill='%236766f6'/%3E%3Cpath d='M474,0H617L572,143H429Z' transform='translate(-0.067)' fill='%233aded4'/%3E%3Cpath d='M617,0H760L715,143H572Z' transform='translate(-0.089)' fill='%23151339'/%3E%3Cpath d='M572,143,760,0,715,143Z' transform='translate(-0.089)' fill='%23f4ba40'/%3E%3Cpath d='M760,0H903L858,143H715Z' transform='translate(-0.111)' fill='%23ea3589'/%3E%3Cpath d='M903,0h143l-45,143H858Z' transform='translate(-0.146)' fill='%236766f6'/%3E%3Cpath d='M903,0l98,143H858Z' transform='translate(-0.146)' fill='%233aded4'/%3E%3Cpath d='M1035.214,0h108.725V143H1001Z' transform='translate(-0.146)' fill='%23151339'/%3E%3C/svg%3E%0A")
		+xs()
			height: 20px

.live-icon
	flex: none
	height: 7px
	width: 7px
	border-radius: 50px
	animation: blink 0.5s ease infinite alternate
	&--primary
		background: #EA4382
		box-shadow: 0px 0px 11px 1px #EA4382
	&--secondary
		background: #3ADED4
		box-shadow: 0px 0px 11px 1px #63D4B4


.fix-right
	position: fixed
	display: flex
	flex-direction: column
	right: 0
	top: 50%
	transform: translateY(-50%)
	z-index: 20
	gap: 20px
	+sm()
		bottom: 14px
		right: 14px
		top: unset
		transform: unset
		gap: unset

.inform
	display: flex
	flex-direction: column
	box-shadow: 0px 0px 10px rgba(44, 52, 57, 0.05)
	&--bd
		.inform-btn:not(:last-child)
				border-bottom: 2px solid var(--light-bg)

	&-btn
		position: relative
		text-decoration: none
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		background-color: var(--base-bg)
		color: var(--base-color)
		padding: 20px 10px
		font-weight: 800
		font-size: 9px
		text-transform: uppercase
		text-align: center
		gap: 10px
		transition: $trs
		width: 67px
		&[data-count]
			&::after
				content: attr(data-count)
				position: absolute
				height: 23px
				width: 23px
				text-align: center
				display: flex
				align-items: center
				justify-content: center
				// line-height: 23px
				border-radius: 50px
				flex: none
				left: -6px
				top: -6px
				background-color: color(--primary-color)
				color: #fff
				font-size: 12px
				pointer-events: none
		&:first-child
			border-radius: 3px 0 0 0
		&:last-child
			border-radius: 0 0 0 3px
		&:not(.inform-btn--chat)
			+sm()
				display: none
		&--chat
			+sm()
				height: 54px
				width: 54px
				border-radius: 3px !important
		&--primary
			background-color: color(--primary-color)
			color: #fff
		&:hover
			filter: brightness(96%)
		&__icon
			height: 24px
			width: 24px
			fill: currentColor
		span
			+sm()
				display: none
		b
			font-size: 1.55em

.as
	&-center
		align-self: center

.slot
	display: flex
	background-color: #151339
	background-image: url(../img/slot-bg.png)
	min-height: calc(100vh - var(--header-height))
	padding: 20px 0
	margin-bottom: 40px
	+xs()
		padding: 0
	&-nav
		display: flex
		align-items: center
		margin-left: auto
		gap: 33px
		&__item
			position: relative
			cursor: pointer
			height: 22px
			width: 22px
		&__icon
			height: 100%
			width: 100%
			fill: #7C78A6

	&-logo
		font-family: var(--accen-font)
		font-style: italic
		color: #383463
		white-space: nowrap
		font-size: 34px
	&-container
		max-width: 1920px
		width: 100%
		padding: 0 94px
		margin: 0 auto
		display: flex
		+sm()
			padding: 0 20px
		+xs()
			padding: 0
		&__wrap
			flex: 1
			box-shadow: 0px 0px 30px #050325
			display: flex
			flex-direction: column
		&__frame
			position: relative
			background-color: #151339
			flex: 1
			width: 100%
			background-image: url("data:image/svg+xml,%3Csvg width='252' height='219' viewBox='0 0 252 219' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.1677 77.6019H90.4565L69.8165 141.087H6.52771L27.1677 77.6019Z' fill='%231D1B44'/%3E%3Cpath d='M181.576 77.6368H244.865L224.225 141.122H160.936L181.576 77.6368Z' fill='%231D1B44'/%3E%3Cpath d='M104.224 155.204H167.513L146.873 218.689H83.5837L104.224 155.204Z' fill='%231D1B44'/%3E%3Cpath d='M104.19 0H167.479L146.839 63.4852H83.5505L104.19 0Z' fill='%231D1B44'/%3E%3Cpath d='M83.9288 0L63.2888 63.4852H0C83.9288 0 0 63.4852 83.9288 0Z' fill='%231D1B44'/%3E%3Cpath d='M230.762 63.4852H167.474L188.114 0C230.762 63.4852 188.114 0 230.762 63.4852Z' fill='%231D1B44'/%3E%3Cpath d='M179.743 155.204H252L231.36 218.689C179.743 155.204 231.36 218.689 179.743 155.204Z' fill='%231D1B44'/%3E%3Cpath d='M20.6398 155.204H83.9286L63.2886 218.689C20.6398 155.204 63.2886 218.689 20.6398 155.204Z' fill='%231D1B44'/%3E%3C/svg%3E%0A")
			background-repeat: no-repeat
			background-position: center
			+sm()
				background-size: 30%
			iframe
				top: 0
				left: 0
				position: absolute
				height: 100%
				width: 100%
				border: 0
		&__bottom
			padding: 0 35px
			flex: none
			height: 70px
			background: rgba(73, 70, 135, 0.05)
			backdrop-filter: blur(10px)
			display: flex
			align-items: center
			gap: 15px
			+sm()
				display: none
		&__side
			display: flex
			align-items: center
			flex: 1
	&-switcher
		font-weight: 500
		font-size: 14px
		display: flex
		align-items: center
		gap: 14px
		span
			transition: .25s ease
			color: #C4C1E6
			&:nth-of-type(1)
				order: -1
			&:nth-of-type(2)
				color: #7C78A6
		&__input
			position: relative
			height: 25px
			width: 45px
			border-radius: 50px
			flex: none
			background-color: #7C78A6
			cursor: pointer
			&::after
				content: ''
				position: absolute
				height: 21px
				width: 21px
				background-color: #C4C1E6
				border-radius: 50px
				left: 2px
				top: 2px
				transition: .25s ease
			&:checked
				&::after
					left: 22px
				& ~ span
					&:nth-of-type(1)
						color: #7C78A6
					&:nth-of-type(2)
						color: #C4C1E7

.cashier
	&__icon
		height: 33px
		width: 38px
		fill: #fff
	&-wrap
		display: flex
		flex-direction: column
		gap: 34px
		&__head
			display: flex
			align-items: center
			gap: 30px
			color: #fff
			padding: 0 20px
	&-card
		display: flex
		flex-wrap: wrap
		gap: 10px
		+xs()
			gap: 4px
		&__item
			input:checked ~ .cashier-card__btn
				border-color: #151339
		&__btn
			padding: 10px 15px
			display: flex
			flex-direction: column
			border-radius: 3px
			gap: 6px
			background-color: #fff
			border: 2px solid #fff
			cursor: pointer
			font-weight: 500
			font-size: 13px
			height: 100%
			+xs()
				min-height: 60px
				min-width: 90px
				max-width: 96px
				background-color: var(--light-bg)
				border-color: var(--light-bg)
				padding: 10px
				+dark()
					background-color: #fff
					border-color: #fff
			span
				margin-top: auto
				color: #151339
	&-nav
		padding: 20px 24px
		+xs()
			padding: 16px
		.tab-switcher
			width: 100%
			&__item
				flex: 1
	&-content
		height: 100%
		overflow-y: auto
		&__item
			height: 100%
			display: flex
			flex-direction: column
			padding: 20px 24px
			display: none
			+xs()
				padding: 16px
			&.isactive
				display: flex
	&-info
		display: flex
		background-color: var(--light-bg)
		border-radius: 3px
		width: 100%
		justify-content: space-between
		gap: 10px
		padding: 14px
		&__item
			display: flex
			flex-direction: column
			gap: 10px
			&:not(:first-child)
				b
					opacity: 0.7
		&__title
			font-weight: 500
			font-size: 12px	
		&__bottom
			display: flex
			align-items: center
			gap: 10px
			b
				font-size: 17px
				font-weight: 800