input, button, select, textarea
	appearance: none
	border-radius: 0
	border: 0
	background-color: transparent
	outline: none
	font-family: var(--base-font)
	font-weight: 500
	display: block

textarea
	min-height: 160px

.form
	&-select
		position: relative
		&.disabled
			pointer-events: none
			cursor: not-allowed
			filter: brightness(90%)
			color: #ccc
		&.isopen
			.form-select__list
				opacity: 1
				visibility: visible
				pointer-events: auto
				top: 100%
			.form-select__current::after
				transform: rotate(225deg)
		&__label
			position: absolute
			left: 20px
			top: 50%
			transform: translateY(-100%) scale(0.5)
			transform-origin: left
			font-weight: 500
			font-size: inherit
			color: inherit
			opacity: 0.5
			user-select: none
		&__current
			position: relative
			height: 100%
			width: 100%
			border-radius: 3px
			cursor: pointer
			display: flex
			align-items: center
			padding-right: 20px
			font-weight: inherit
			font-size: 16px
			padding: 30px 20px 10px
			gap: 16px
			background-color: var(--form-bg-base)
			transition: .25s ease
			&:hover
				background-color: var(--form-bg-hover)
			&::after
				content: ''
				flex: none
				height: 8px
				width: 8px
				border-right: 2px solid
				border-bottom: 2px solid
				transform: rotate(45deg)
				align-self: flex-start
				transition: $trs
			span
				display: flex
				align-items: center
				width: 100%
				height: 100%
				font-weight: 500
				font-size: inherit
				user-select: none
		&--xl
			min-width: 140px
			.form-select__current
				height: 74px
				font-size: 19px
				font-weight: 700
				span
					font-weight: inherit

		&--light
			color: #151339
			.form-select__list
				background-color: #fff
			.form-select__current
				background-color: #fff
			.form-select__item
				&:hover
					background-color: rgba(#E9E9EA, .5)
				&.selected
					background-color: #E9E9EA
		&__list
			position: absolute
			z-index: 2
			border-radius: 3px
			min-width: 100%
			margin-top: 3px
			top: 110%
			overflow: hidden
			overflow-y: auto
			max-height: 220px
			transition: .25s ease
			opacity: 0
			visibility: hidden
			pointer-events: none
			background-color: var(--base-bg)
			box-shadow: 0px 0px 15px rgba(44, 52, 57, 0.15)
		&__item
			width: 100%
			padding: 15px 20px
			cursor: pointer
			font-weight: inherit
			font-size: inherit
			user-select: none
			transition: .25s ease
			font-size: inherit
			font-weight: inherit
			font-weight: 500
			&:hover
				background-color: var(--form-bg-hover)
			&.selected
				background-color: var(--form-bg-focus)
	&-label
		pointer-events: none
		position: absolute
		font-size: 15px
		font-weight: 500
		top: 50%
		transform: translateY(-50%)
		color: inherit
		font-size: inherit
		left: 20px
		opacity: 0.5
		transition: .1s ease
		transform-origin: left
		font-weight: 500
		user-select: none
		white-space: nowrap
	&-message
		margin-top: 3px
		top: 100%
		position: absolute
		font-weight: 500
		font-size: 10px
		font-weight: 500
		color: #DC3749
		display: none
	&-group
		display: flex
		gap: 4px
	&-field
		display: block
		position: relative
		color: var(--base-color)
	&-input
		height: 100%
		width: 100%
		padding: 30px 20px 10px 20px
		color: inherit
		font-size: inherit
		background-color: var(--form-bg-base)
		border-radius: 3px
		overflow: hidden
		height: 65px
		transition: .25s ease
		&:hover
			background-color: var(--form-bg-hover)
		&:focus, &.isfilled
			background-color: var(--form-bg-base)
			& ~ .form-label
				transform: translateY(-100%) scale(.6)
		&::placeholder
			opacity: 0
		&.invalid
			background: rgba(220, 55, 73, 0.2)
			& ~ .form-label
				color: #DC3749
				opacity: 1
			& ~ .form-message
				display: block
		&--xl
			height: 74px
			font-size: 19px
			font-weight: 700
		&--light
			color: rgba(21, 19, 57, 1) !important
			background: #fff !important
			&:hover
				background: #fff !important
			& ~ .form-label
				color: rgba(21, 19, 57, 1)



	 

.search
	&--index
		z-index: 2
		position: relative
		display: flex
		gap: 8px
		margin-top: -50px
		margin-bottom: 24px
		+sm()
			display: none
	&-clear
		cursor: pointer
		&__icon
			height: 24px
			width: 24px
			fill: var(--light-bg)
	&__btns
		display: flex
		gap: 25px
		opacity: 0
		pointer-events: none
	&-btn
		font-size: 17px
	&__icon
		height: 23px
		width: 23px
		flex: none
	&-field
		position: relative
		flex: 1
		display: flex
		justify-content: space-between
		background-color: var(--base-bg)
		border-radius: 3px
		padding: 4px
		height: 74px
		&__icon
			height: inherit
			display: flex
			align-items: center
			justify-content: center
			width: 60px
			height: 100%
			fill: var(--base-color)
			opacity: 0.5
			+parent('_dark-theme')
				opacity: 1
				fill: #4F516F
		

	&-input
		flex: 1
		font-size: 18px
		color: var(--base-color)
		padding-right: 16px
		&.isfilled ~ .search__btns
			opacity: 1
			pointer-events: auto
		&:focus::placeholder
			opacity: 0
		&::placeholder
			transition: opacity .25s ease
			color: var(--base-color)
			opacity: 0.5
			+parent('_dark-theme')
				color: #4F516F
				opacity: 1

// @media (hover: hover)
// 	select
// 		opacity: 0
// 		pointer-events: none
// 	.select-custom
// 		position: absolute
// 		display: block

// select
// 	all: unset

input[type="date"]::-webkit-calendar-picker-indicator
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: auto
	height: auto
	color: transparent
	background: transparent


.promo-select
	position: relative
	&::before
		content: ''
		position: absolute
		left: -30px
		top: 50%
		transform: translateY(-50%)
		user-select: none
		pointer-events: none
		z-index: 2
		height: 55px
		width: 55px
		background-image: url(../img/gft.png)
		background-repeat: no-repeat
		background-size: contain

	&.isopen
		.promo-select__current
			overflow: visible
		.promo-select__list
			border-radius: 3px
		.promo-select__item
			pointer-events: auto
			display: flex
			&::after
				opacity: 0
			&:hover
				filter: brightness(95%)
			.form-field
				display: none
		.promo-select__radiobtn
				opacity: 1
	&--lg
		.promo-select__current, .promo-select__item
			height: 74px
	&__current
		position: relative
		overflow: hidden
		border-radius: 3px
		cursor: pointer

	&__label
		font-size: 9px
		opacity: 0.8
		margin-bottom: 6px
		white-space: nowrap
	&__icon
		height: 24px
		width: 24px
	&__list
		position: absolute
		width: 100%
		top: 0
		left: 0
		z-index: 1
		overflow: hidden
	&__radiobtn
		position: absolute
		top: 50%
		transform: translateY(-50%)
		right: 14px
		height: 24px
		width: 24px
		border-radius: 50px
		flex: none
		border: 2px solid currentColor
		margin-left: auto
		opacity: 0
		pointer-events: none
		&::after
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			background-color: currentColor
			height: 12px
			width: 12px
			border-radius: inherit
			opacity: 0
	&__item
		pointer-events: none
		position: relative
		display: none
		height: 60px
		align-items: center
		padding: 0 30px
		cursor: pointer
		font-weight: 700
		font-size: 19px
		fill: currentColor
		transition: $trs
		gap: 10px
		user-select: none
		&::after
			content: ''
			position: absolute
			flex: none
			height: 7px
			width: 7px
			right: 24px
			top: 50%
			border-right: 2px solid currentColor
			border-bottom: 2px solid currentColor
			transform: rotate(45deg) translateY(-50%)
			z-index: 3
		.form-field
			position: absolute
			// height: 63px
			background-color: #fff
			width: calc(100% - 80px)
			pointer-events: auto
			z-index: 2
		&.isactive
			display: flex
			.promo-select__radiobtn::after
				opacity: 1
		&--orange
			background: linear-gradient(312.69deg, #D4315E -1.33%, #EE9F3E 111.07%)
			color: #fff
		&--green
			color: #151339
			background: linear-gradient(304.38deg, #3ADED4 -5.98%, #E3FFFD 103.49%)
		&--pink
			color: #fff
			background: linear-gradient(352.78deg, #EA3589 -15.59%, #FF7EBA 110.86%)
		&--gray
			background: linear-gradient(180deg, #FFFFFF -24.76%, #DFDCF6 100%)
