.btn
	display: inline-flex
	align-items: center
	justify-content: center
	text-align: center
	position: relative
	cursor: pointer
	border-radius: 3px
	font-weight: 800
	padding: 0 2em
	transition: $trs
	gap: 8px
	user-select: none
	+sm()
		padding: 0 1em
	&[href]
		text-decoration: none
	// &:hover
	// 	filter: brightness(90%)
	&[data-count]
		&::after
			content: attr(data-count)
			height: 24px
			width: 24px
			line-height: 24px
			text-align: center
			background-color: #fff
			border-radius: 50px
			flex: none
	&__icon
		flex: none
		height: 20px
		width: 20px
	&--fullwidth
		width: 100%
	&--dark
		background-color: var(--base-color)
		color: var(--base-bg)
	&--primary
		color: #fff
		fill: currentColor
		background-color: color(--primary-color)
		&[data-count]
			&::after
				background-color: #fff
				color: color(--primary-color)
		&.shadow
			box-shadow: 0px 6px 14px color(--primary-color, 0.6)
			&:hover
				box-shadow: 0px 6px 14px color(--primary-color, 0)
	&--secondary
		fill: currentColor
		color: #151339
		background-color: color(--secondary-color)
		&.shadow
			box-shadow: 0px 6px 14px color(--secondary-color, 0.6)
			&:hover
				box-shadow: 0px 6px 14px color(--secondary-color, 0)
	&--light
		fill: currentColor
		color: #151339
		background-color: #DFDCF6
	&--white
		background-color: #fff
		color: #4F4A81
		fill: currentColor
	&--base
		background-color: var(--nav-bg-active)
		color: #fff
	&--gray
		color: var(--nav-color)
		fill: currentColor
		background-color: #E9E9EA
		+dark()
			background-color: var(--base-bg)

	&--square
		padding: 0
		width: 48px
	&--xs
		height: 48px
		font-size: 13px
		+sm()
			height: 43px
			font-size: 12px
	&--sm
		height: 54px
		font-size: 16px
	&--md
		height: 60px
		font-size: 15px
	&--lg
		height: 74px
		font-size: 19px