$primary: #EA4382
$secondary: #3ADED4
$lightPurple: #DFDCF6
$gray: #EAEAEA
$white: #ffffff
$darkBlue: #151339
$text: #222222

$navWidth: 70px
$headerHeight: 60px
$baseFont: 'Onest', sans-serif

$trs: all .25s ease