\:root
	--light_theme_bg: #F7F9FB
	--dark_theme_bg: #121928
	--header_height: 64px
	--nav_width: 70px
	--primary_color: 234, 67, 130
	--secondary_color: 58, 222, 212
	--dark_color: #151339
	--light_color: #928CBA
	--gray_color: #EAEAEA

$lightPurple: #DFDCF6
$white: #ffffff
$text: #222222

$navWidth: 70px
$headerHeight: 60px
$baseFont: 'Onest', sans-serif

$trs: all .25s ease