\:root
	color-scheme: light dark
	--body-bg: #F1F2F4
	--base-bg: #FFFFFF
	--base-color: #151339
	--nav-bg-base: #E9E9EA
	--nav-bg-hover: #D1D1D1
	--nav-bg-active: var(--base-color)
	--nav-color: var(--base-color)
	--nav-color-active: var(--base-bg)
	--nav-tooltip-bg: var(--base-color)
	--nav-tooltip-color: var(--base-bg)
	--header-height: 60px
	--nav-width: 60px
	--primary-color: 234, 67, 130
	--light-bg: #E9E9EF
	--secondary_color: 58, 222, 212
	--light_color: #928CBA
	--gray_color: #EAEAEA
	--footer-bg: linear-gradient(180deg, #151339 15.56%, #0C0A28 100%)
	--base-font: "Onest", sans-serif
	--accen-font: "BigNoodleTooOblique"

._dark-theme
	--body-bg: #1B1C2F
	--base-bg: #25273E
	--base-color: #F7F8F8
	--nav-bg-base: var(--body-bg)
	--nav-bg-hover: #2E3049
	--nav-bg-active: #424564
	--nav-color: #B6B7CE
	--nav-color-active: var(--base-color)
	--nav-tooltip-bg: var(--nav-bg-active)
	--nav-tooltip-color: var(--base-color)
	--primary-color: 116, 90, 225
	--light-bg: var(--nav-bg-active)
	--footer-bg: linear-gradient(180deg, #1B1C2F 15.56%, #121220 100%)


$lightPurple: #DFDCF6
$white: #ffffff
$text: #222222

$trs: all .25s ease