.pagination
	a.pagination-btn(href="#")
		+xlink('arrow-left', 'pagination-btn')
	ul.pagination-list
		li.pagination-item
			a.pagination-link.pagination-link--active(href="#") 1
		li.pagination-item
			a.pagination-link(href="#") 2
		li.pagination-item
			a.pagination-link(href="#") 3
		li.pagination-item
			span.pagination-link ...
		li.pagination-item
			a.pagination-link(href="#") 6
	a.pagination-btn(href="#")
		+xlink('arrow-right', 'pagination-btn')