- var random = Math.floor(Math.random() * (100 - 2 + 1) + 5)

head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=Edge")
	title #{title}
	meta(name="description" content=description)
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
	meta(name="format-detection", content="telephone=no")
	meta(name="apple-mobile-web-app-status-bar-style" content="black")
	meta(name="theme-color" content="#000")
	link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
	link(rel="preload" href="fonts/BigNoodleTooOblique.woff2" as="font" type="font/woff2" crossorigin)
	link(rel="preload" href="fonts/Onest-Regular.woff2" as="font" type="font/woff2" crossorigin)
	link(rel="preload" href="fonts/Onest-ExtraBold.woff2" as="font" type="font/woff2" crossorigin)
	link(rel="stylesheet", href="css/swiper.min.css")
	link(rel='stylesheet', href='css/style.css?v='+random+'')