- var random = Math.floor(Math.random() * (100 - 2 + 1) + 5)

script(src="js/popper.min.js")
script(src="js/tippy-bundle.umd.min.js")
script(src="js/lazysizes.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js")
script(src="js/swiper-bundle.min.js")
script(src="js/scripts.js?v="+random+"")