nav.mobilenav
	.mobilenav-content
		ul
			li.mobilenav-item--submenu
				a.active(href="#") каталог
				ul
					li
						a(href="#") люстры
					li
						a(href="#") настенные светильники
					li
						a(href="#") настольные лампы
					li
						a(href="#") подвесные светильники
					li
						a(href="#") потолочные светильники
					li
						a(href="#") торшеры
					li
						a(href="#") споты
					li
						a(href="#") уличные светильники
					li
						a(href="#") уличные настенные
					li
						a(href="#") уличные подвесные
					li
						a(href="#") уличные потолочные
					li
						a(href="#") трековые системы
					li
						a(href="#") парковые светильники
					li
						a(href="#") подсветка картин и зеркал
					li
						a(href="#") ландшафтные светильники
					li
						a(href="#") настенно-потолочные
					li
						a(href="#") светильники
					li
						a(href="#") накладные светильники
					li
						a(href="#") встраиваемые светильники
					li
						a(href="#") led ленты и профиль
					li
						a(href="#") светильники для дорожек
					li
						a(href="#") направленные светильники
					li
						a(href="#") технические подвесные светильники
					li
						a(href="#") запчасти и детали
			li
				a(href="#") новинки
			li
				a(href="#") товары в пути
			li
				a(href="#") хиты
			li
				a(href="#") акции
			li
				a(href="#") новости
			li
				a(href="shipping.html") доставка
			li
				a(href="contacts.html") контакты
			li
				a(href="#") товары в пути
			li
				a(href="#") хиты
			li
				a(href="#") акции
			li
				a(href="#") новости
			li
				a(href="shipping.html") доставка
			li
				a(href="contacts.html") контакты
			li
				a(href="#") товары в пути
			li
				a(href="#") хиты
			li
				a(href="#") акции
			li
				a(href="#") новости
			li
				a(href="shipping.html") доставка
			li
				a(href="contacts.html") контакты




