nav.nav
	+logo('nav-logo')
	ul.nav-list
		li.nav-item
			a.nav-link(href="#" class=(pageType === 'inner' ? 'isactive' : '')).
				<svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M15.5013 13.38C15.7392 9.74172 14.8894 5.33053 13.2305 1.10443C13.0709 0.540206 12.957 0.425947 12.9163 0.352539L11.4858 0.711247C11.6162 0.947403 11.9336 2.34334 11.9336 2.7206C11.9336 6.62055 9.4497 10.0392 7.04413 12.3843C6.32282 11.7626 5.38592 11.3847 4.35991 11.3847C2.08151 11.3847 0.234375 13.2383 0.234375 15.5247C0.234375 17.8123 2.08151 19.6659 4.35991 19.6659C6.63831 19.6659 8.48606 17.8123 8.48606 15.5247C8.48606 14.7613 8.27616 14.0477 7.91679 13.4336C10.0234 11.2207 12.0957 8.21114 12.95 4.95589C13.8939 7.90733 14.2565 10.5958 14.0319 13.0009C13.9403 12.9945 13.8488 12.9868 13.7559 12.9868C11.4775 12.9868 9.62975 14.8404 9.62975 17.1274C9.62975 19.4144 11.4775 21.268 13.7559 21.268C16.0343 21.268 17.8814 19.4144 17.8814 17.1274C17.8814 15.4678 16.907 14.0406 15.5013 13.38ZM3.02549 15.0542C2.46067 15.0542 2.0027 14.5953 2.0027 14.0279C2.0027 13.4617 2.46067 13.0022 3.02549 13.0022C3.59032 13.0022 4.04894 13.4617 4.04894 14.0279C4.0489 14.5953 3.59032 15.0542 3.02549 15.0542ZM12.5906 17.107C11.9647 17.107 11.4571 16.5983 11.4571 15.9695C11.4571 15.3421 11.9647 14.8327 12.5906 14.8327C13.2165 14.8327 13.7235 15.3421 13.7235 15.9695C13.7235 16.5983 13.2165 17.107 12.5906 17.107Z"/>
				</svg>
				<span class="nav-link__tooltip">Casino</span>
		li.nav-item
			a.nav-link(href="#").
				<svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.40878 5.28223C9.40878 5.28223 5.34444 7.38489 4.29581 10.5478C3.76186 12.4393 4.24649 13.592 4.72959 14.2153C5.30746 14.9634 6.25439 15.4088 7.26296 15.4088C7.75222 15.4088 8.22068 15.2585 8.63366 15.0251L8.39173 17.1647C8.37555 17.2657 8.40714 17.3905 8.47571 17.4675C8.54275 17.5446 8.64291 17.6108 8.74693 17.6108H10.2494C10.3534 17.6108 10.4528 17.5446 10.5206 17.4675C10.5892 17.3905 10.62 17.2772 10.6046 17.1763L10.3742 15.1106C10.7733 15.2986 11.2125 15.4119 11.6432 15.4119C12.651 15.4119 13.5987 14.9642 14.1773 14.2161C14.6597 13.5943 15.1443 12.4393 14.6104 10.5478C13.5648 7.38489 9.40878 5.28223 9.40878 5.28223Z"/>
					<path d="M23.7563 3.82127L18.7027 2.30803V2.20016C18.7027 1.34954 18.0123 0.65918 17.1617 0.65918H1.75192C0.901296 0.65918 0.210938 1.34954 0.210938 2.20016V21.4624C0.210938 22.313 0.901296 23.0034 1.75192 23.0034H9.92758L17.3451 25.2255C18.1603 25.4697 19.0194 25.0067 19.2628 24.1915L24.7903 5.73979C25.0346 4.92461 24.5707 4.06552 23.7563 3.82127ZM1.75192 2.20016H17.1617V21.4624H1.75192V2.20016Z"/>
				</svg>
				<span class="nav-link__tooltip">Live Casino</span>
		li.nav-item
			a.nav-link(href="#").
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.6702 0.176758C5.48381 0.176758 0.46875 5.20938 0.46875 11.4173C1.05877 26.3278 22.284 26.3236 22.8717 11.4173C22.8717 5.20938 17.8566 0.176758 11.6702 0.176758ZM12.3707 3.60683L14.6826 2.06191C16.6611 2.70967 18.3838 3.97074 19.6025 5.66356L18.8568 8.33375L15.2047 9.50835L12.3707 7.41806V3.60683ZM8.65791 2.06191L10.9705 3.60711V7.41778L8.13592 9.50835L4.4837 8.33351L3.73801 5.66344C4.95673 3.97059 6.67938 2.70955 8.65791 2.06191ZM3.7666 17.2097C2.53147 15.528 1.86656 13.4929 1.86961 11.4038L4.05341 9.67044L7.70269 10.8444L8.79144 14.2459L6.53256 17.3232L3.7666 17.2097ZM14.7134 20.7614C12.814 21.4112 10.5262 21.4111 8.62679 20.7614L7.66303 18.1527L9.92511 15.071H13.4155L15.6772 18.1528L14.7134 20.7614ZM19.5737 17.2098L16.8077 17.3233L14.5492 14.246L15.6381 10.8443L19.2871 9.67067L21.4708 11.4039C21.4739 13.4931 20.8089 15.5281 19.5737 17.2098Z"/>
				</svg>
				<span class="nav-link__tooltip">Sport</span>
		li.nav-item
			a.nav-link.nav-link--accent(href="#").
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.1471 11.5579C14.1471 10.0314 12.9048 8.78906 11.3783 8.78906C9.85169 8.78906 8.60938 10.0314 8.60938 11.5579C8.60938 13.0845 9.85169 14.3268 11.3783 14.3268C12.9048 14.3268 14.1471 13.0845 14.1471 11.5579Z"/>
					<path d="M7.53495 9.01678L2.93125 4.41309C1.48403 6.1233 0.548153 8.27381 0.351562 10.6348H6.85934C6.97935 10.0468 7.21376 9.50134 7.53495 9.01678Z"/>
					<path d="M15.2266 14.0994L19.8303 18.7031C21.2775 16.9929 22.2134 14.8424 22.409 12.4814H15.9022C15.7822 13.0694 15.5478 13.6157 15.2266 14.0994Z"/>
					<path d="M6.86234 12.4814H0.355469C0.551151 14.8424 1.48703 16.9929 2.9342 18.7031L7.53794 14.0994C7.21675 13.6157 6.98235 13.0694 6.86234 12.4814Z"/>
					<path d="M4.23828 20.0071C5.94854 21.4543 8.09901 22.3902 10.46 22.5858V16.0789C9.87204 15.959 9.32562 15.7245 8.84202 15.4033L4.23828 20.0071Z"/>
					<path d="M12.3047 16.0789V22.5858C14.6656 22.3901 16.8171 21.4542 18.5264 20.0071L13.9227 15.4033C13.439 15.7245 12.8926 15.959 12.3047 16.0789Z"/>
					<path d="M15.9022 10.6348H22.4099C22.2134 8.27381 21.2775 6.12335 19.8303 4.41309L15.2266 9.01678C15.5478 9.50134 15.7822 10.0468 15.9022 10.6348Z"/>
					<path d="M10.46 7.03617V0.529297C8.09905 0.724979 5.94763 1.66086 4.23828 3.10803L8.84202 7.71177C9.32567 7.39058 9.87204 7.15614 10.46 7.03617Z"/>
					<path d="M18.5264 3.10898C16.8161 1.66086 14.6656 0.725887 12.3047 0.529297V7.03617C12.8926 7.15614 13.4381 7.39149 13.9226 7.71177L18.5264 3.10898Z"/>
				</svg>
				<span class="nav-link__tooltip">Lucky Spin</span>
		li.nav-item
			.nav-divider
		li.nav-item
			a.nav-link(href="#" data-nav-count="6").
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.84913 22.6425C1.84913 23.1329 2.2592 23.5291 2.76677 23.5291H10.9682V13.1113H1.84913V22.6425ZM12.9182 23.5291H21.1197C21.6273 23.5291 22.0374 23.1329 22.0374 22.6425V13.1113H12.9182V23.5291ZM22.4962 6.46172H18.2635C18.6535 5.86879 18.8829 5.16504 18.8829 4.41142C18.8829 2.30294 17.1079 0.587891 14.9256 0.587891C13.7384 0.587891 12.6688 1.09769 11.9432 1.90119C11.2177 1.09769 10.1481 0.587891 8.96089 0.587891C6.77861 0.587891 5.00354 2.30294 5.00354 4.41142C5.00354 5.16504 5.23008 5.86879 5.62295 6.46172H1.3903C0.88273 6.46172 0.472656 6.85792 0.472656 7.34833V11.2273H10.9682V6.46172H12.9182V11.2273H23.4138V7.34833C23.4138 6.85792 23.0038 6.46172 22.4962 6.46172ZM10.9682 6.35089H8.96089C7.85398 6.35089 6.95354 5.4809 6.95354 4.41142C6.95354 3.34194 7.85398 2.47195 8.96089 2.47195C10.0678 2.47195 10.9682 3.34194 10.9682 4.41142V6.35089ZM14.9256 6.35089H12.9182V4.41142C12.9182 3.34194 13.8187 2.47195 14.9256 2.47195C16.0325 2.47195 16.9329 3.34194 16.9329 4.41142C16.9329 5.4809 16.0325 6.35089 14.9256 6.35089Z"/>
				</svg>
				<span class="nav-link__tooltip">Promo</span>
		li.nav-item
			a.nav-link(href="#").
				<svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.6696 20.252H8.69141V21.7465H14.6696V20.252Z"/>
					<path d="M22.1395 4.55958H18.8603C19.0247 3.57096 19.1217 2.5723 19.1505 1.57051C19.1505 1.47236 19.1312 1.37517 19.0937 1.28448C19.0562 1.19379 19.0011 1.11139 18.9317 1.04199C18.8623 0.972586 18.7799 0.917545 18.6892 0.880011C18.5985 0.842477 18.5013 0.823186 18.4032 0.823242H4.95236C4.85421 0.823186 4.75702 0.842477 4.66633 0.880011C4.57564 0.917545 4.49324 0.972586 4.42384 1.04199C4.35444 1.11139 4.29939 1.19379 4.26186 1.28448C4.22433 1.37517 4.20504 1.47236 4.20509 1.57051C4.2339 2.5723 4.33083 3.57096 4.49521 4.55958H1.21602C1.11787 4.55953 1.02067 4.57882 0.929985 4.61635C0.839297 4.65389 0.756897 4.70893 0.687495 4.77833C0.618094 4.84773 0.563052 4.93013 0.525519 5.02082C0.487985 5.11151 0.468694 5.2087 0.46875 5.30685V8.29593C0.474284 9.47293 0.734373 10.6348 1.23117 11.7018C1.72797 12.7689 2.44972 13.7158 3.3469 14.4777C4.38771 15.3597 5.70438 15.8498 7.06862 15.8628C7.22465 15.8628 7.38124 15.8529 7.53786 15.8396C7.96543 16.8796 8.52483 17.8603 9.20232 18.7577H7.94143C7.84329 18.7576 7.74609 18.7769 7.6554 18.8145C7.56471 18.852 7.48231 18.907 7.41291 18.9764C7.34351 19.0458 7.28847 19.1282 7.25093 19.2189C7.2134 19.3096 7.19411 19.4068 7.19417 19.505V22.494C7.19411 22.5922 7.2134 22.6894 7.25093 22.7801C7.28847 22.8708 7.34351 22.9531 7.41291 23.0226C7.48231 23.092 7.56471 23.147 7.6554 23.1845C7.74609 23.2221 7.84329 23.2414 7.94143 23.2413H15.4141C15.5123 23.2414 15.6095 23.2221 15.7002 23.1845C15.7908 23.147 15.8732 23.092 15.9426 23.0226C16.012 22.9531 16.0671 22.8708 16.1046 22.7801C16.1422 22.6894 16.1614 22.5922 16.1614 22.494V19.505C16.1614 19.4068 16.1422 19.3096 16.1046 19.2189C16.0671 19.1282 16.012 19.0458 15.9426 18.9764C15.8732 18.907 15.7908 18.852 15.7002 18.8145C15.6095 18.7769 15.5123 18.7576 15.4141 18.7577H14.1532C14.8307 17.8603 15.3901 16.8796 15.8176 15.8396C15.9743 15.8529 16.1308 15.8628 16.2869 15.8628C17.6511 15.8494 18.9676 15.3595 20.0086 14.4777C20.9058 13.7158 21.6276 12.7689 22.1244 11.7019C22.6212 10.6348 22.8813 9.47294 22.8868 8.29593V5.30685C22.8869 5.2087 22.8676 5.11151 22.83 5.02082C22.7925 4.93013 22.7375 4.84773 22.6681 4.77833C22.5987 4.70893 22.5163 4.65389 22.4256 4.61635C22.3349 4.57882 22.2377 4.55953 22.1395 4.55958ZM4.29412 13.3217C3.57092 12.6976 2.98899 11.9266 2.58708 11.06C2.18518 10.1934 1.97252 9.25114 1.96329 8.29593V6.05412H4.74452C5.11984 8.11055 5.60801 10.1448 6.20681 12.1476C6.44881 12.9466 6.69607 13.6797 6.94728 14.3616C5.972 14.3191 5.0386 13.9532 4.29412 13.3217ZM14.6669 20.2522V21.7468H8.6887V20.2522H14.6669ZM21.3923 8.29593C21.383 9.25114 21.1704 10.1934 20.7685 11.06C20.3666 11.9266 19.7846 12.6976 19.0614 13.3217C18.3169 13.9525 17.3838 14.3177 16.4089 14.3598C16.6599 13.6786 16.9069 12.9459 17.1487 12.1476C17.7475 10.1448 18.2357 8.11055 18.611 6.05412H21.3923V8.29593Z"/>
					</svg>
				<span class="nav-link__tooltip">Tourneys</span>
		li.nav-item
			a.nav-link(href="#").
				<svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M22.0235 0.705078C21.2568 0.705078 20.6331 1.32879 20.6331 2.09544C20.6331 2.47876 20.789 2.82638 21.0408 3.0781L16.8096 7.30936L12.7362 3.236C13.0968 2.98454 13.3337 2.56744 13.3337 2.09548C13.3337 1.32884 12.71 0.705123 11.9433 0.705123C11.1767 0.705123 10.553 1.32884 10.553 2.09548C10.553 2.56744 10.7898 2.98454 11.1504 3.236L7.07707 7.30936L2.8459 3.0781C3.09763 2.82638 3.25356 2.47876 3.25356 2.09544C3.25356 1.32879 2.62984 0.705078 1.8632 0.705078C1.09655 0.705078 0.472656 1.32879 0.472656 2.09544C0.472656 2.74191 0.916738 3.28511 1.51545 3.44005V15.6516H22.3711V3.4401C22.9697 3.28511 23.4138 2.74191 23.4138 2.09544C23.4138 1.32879 22.7901 0.705078 22.0235 0.705078Z"/>
				</svg>
				<span class="nav-link__tooltip">Vip</span>
		li.nav-item
			a.nav-link(href="#").
				<svg width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M15.6457 26.3529C14.1332 26.3529 12.6548 25.9027 11.3972 25.0592C10.1396 24.2157 9.15951 23.0168 8.58072 21.6141C8.00193 20.2114 7.85049 18.6679 8.14556 17.1788C8.44062 15.6897 9.16893 14.3219 10.2384 13.2483C11.3079 12.1748 12.6704 11.4436 14.1538 11.1474C15.6372 10.8512 17.1748 11.0033 18.5721 11.5843C19.9694 12.1653 21.1637 13.1492 22.004 14.4116C22.8442 15.674 23.2927 17.1582 23.2927 18.6764C23.2927 20.7123 22.4871 22.6649 21.053 24.1045C19.6189 25.5441 17.6738 26.3529 15.6457 26.3529ZM12.1317 17.753H14.1813V19.8105H12.1317V17.753ZM19.1816 17.753H17.132V19.8105H19.1816V17.753ZM14.6259 20.2691H16.6754V22.3265H14.6259V20.2691ZM16.6754 15.237H14.6259V17.2945H16.6754V15.237ZM14.1813 15.237V17.2945H12.1317C12.8184 16.6121 13.5015 15.9262 14.1813 15.237ZM17.1327 17.2945H19.1822C18.4957 16.612 17.8125 15.9263 17.1327 15.237V17.2945ZM12.1317 20.2691H14.1813V22.3265C13.5015 21.6373 12.8183 20.9515 12.1317 20.2691ZM19.1162 20.2691H17.0666C17.7532 20.9515 18.4364 21.6373 19.1162 22.3265V20.2691Z" />
					<path d="M7.36137 9.53757C11.2333 9.53757 14.3712 7.57368 14.3712 5.15175C14.3712 2.72982 11.2333 0.764648 7.36137 0.764648C3.48941 0.764648 0.351562 2.72855 0.351562 5.15175C0.351562 7.57496 3.48941 9.53757 7.36137 9.53757Z" />
					<path d="M6.30735 14.5823C6.7424 13.5919 7.33086 12.6769 8.05088 11.8712C7.97464 11.8759 7.89896 11.8821 7.82324 11.8884L7.82311 11.8884C7.67102 11.9009 7.51875 11.9134 7.36137 11.9134C3.48941 11.9134 0.351562 9.94955 0.351562 7.52762V10.2681C0.351562 12.4649 2.94137 14.2612 6.30735 14.5823Z" />
					<path d="M5.62676 20.5392C5.51138 19.925 5.45208 19.3015 5.4496 18.6764C5.4496 18.3694 5.46872 18.0661 5.49548 17.7655C2.53352 17.255 0.351562 15.5751 0.351562 13.5588V16.3005C0.351562 18.3463 2.59725 20.0543 5.62676 20.5392Z" />
					<path d="M7.36137 26.3529C7.82108 26.3525 8.28034 26.3239 8.73656 26.2672C8.42102 25.9697 8.13385 25.6433 7.87882 25.2923C7.4271 24.7604 7.03039 24.1838 6.6948 23.5714C3.14019 23.3591 0.351562 21.5052 0.351562 19.2253V21.9658C0.351562 24.389 3.48941 26.3529 7.36137 26.3529Z" />
					</svg>

				<span class="nav-link__tooltip">Nav item</span>
		li.nav-item
			a.nav-link(href="#").
				<svg width="22" height="27" viewBox="0 0 22 27" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.8275 0.235352C10.6279 0.235352 8.0521 2.76518 8.0521 5.90762V9.68913H9.97723V5.90762C9.97723 3.81266 11.6944 2.12611 13.8275 2.12611C15.9605 2.12611 17.6778 3.81266 17.6778 5.90762V9.68913H19.6029V5.90762C19.6029 2.76518 17.0271 0.235352 13.8275 0.235352ZM8.0521 2.12611C4.85252 2.12611 2.2767 4.65594 2.2767 7.79838V9.68913H4.20183V7.79838C4.20183 5.93998 5.55352 4.40399 7.34768 4.08057C7.55224 3.37494 7.87283 2.7183 8.28757 2.13119C8.20943 2.12814 8.13102 2.12611 8.0521 2.12611ZM12.0338 3.68266C11.5064 4.09281 11.1292 4.68023 10.9946 5.35542C11.561 6.01357 11.9024 6.86518 11.9024 7.79838V9.68913H13.8275V7.79838C13.8275 6.17476 13.1399 4.71476 12.0338 3.68266ZM0.351562 11.5799V12.7257V19.1429V25.5482C0.351562 25.7057 0.383236 25.8554 0.446503 25.9971C0.518809 26.1389 0.613711 26.2609 0.731208 26.3633C0.857742 26.4736 0.997741 26.5563 1.15139 26.6114C1.31408 26.6744 1.48587 26.7059 1.66663 26.7059H20.1994C20.57 26.7059 20.8818 26.5917 21.1349 26.3633C21.397 26.1428 21.528 25.8711 21.528 25.5482V19.1429V12.7257V11.5799H20.1994H1.66663H0.351562Z" />
					</svg>


				<span class="nav-link__tooltip">Nav item</span>
	.nav-bottom
		label.theme-switcher
			input.theme-switcher__input(type="checkbox")
			i.theme-switcher__icon
		a.lang.lang--nav(href="#") 
			img.lang-img(src="img/en-flag.svg", alt="")
			.lang-text en
