.nav
	position: fixed
	top: 0
	left: 0
	display: flex
	flex-direction: column
	min-height: 100%
	width: var(--nav_width)
	background: var(--base-bg)
	box-shadow: 5px 0px 15px rgba(132, 123, 203, 0.2)
	z-index: 10
	+sm()
		display: none
	&-logo
		display: flex
		align-items: center
		justify-content: center
		height: var(--header_height)
		background-color: var(--base-color)
	&-list
		padding: 10px 0
		display: flex
		flex-direction: column
		gap: 6px
	&-item
		display: flex
		justify-content: center
	&-link
		position: relative
		flex: none
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		text-decoration: none
		border-radius: 3px
		color: var(--base-color)
		height: 45px
		width: 45px
		background-color: #E9E9EA
		transition: .25s ease
		&__icon
			fill: currentColor
			height: 20px
			width: 20px
		&.isactive
			background-color: var(--base-color)
			color: var(--base-bg)
		+parent('_dark-theme')
			background-color: #1B1C2F
			&:hover
				&:not(.isactive)
					background-color: #1f2137

		&:hover
			&:not(.isactive)
				background-color: #D1D1D1
			.nav-link__tooltip
				left: calc(100% + 8px)
				opacity: 1
		&[data-nav-count]
			margin-top: 10px
			&::after
				content: attr(data-nav-count)
				position: absolute
				font-size: 12px
				font-weight: 800
				height: 23px
				width: 23px
				background-color: #EA4382
				display: flex
				align-items: center
				justify-content: center
				flex: none
				border-radius: 50px
				color: #fff
				pointer-event: none
				top: -8px
				right: -8px
				border: 2px solid
			
		&--purple
			background: linear-gradient(295.33deg, #A62EE0 -7.11%, rgba(228, 61, 232, 0.74) 42.74%, #5538F4 106.41%)
			color: #fff
		&--orange
			color: #fff
			background: linear-gradient(137.11deg, #EA4382 19.45%, #F4BA40 102.98%)
		&__tooltip
			position: absolute
			opacity: 0
			left: calc(100% + 15px)
			border-radius: 3px
			padding: 7px 11px
			font-weight: 800
			font-size: 15px
			color: var(--base-bg)
			background-color: var(--base-color)
			white-space: nowrap
			pointer-events: none
			background-position: left center
			background-size: cover
			transition: .25s ease
			&::before
				content: ''
				position: absolute
				width: 0
				height: 0
				left: -5px
				top: 50%
				transform: translateY(-50%)
				border-style: solid
				border-width: 6px 6px 6px 0
				border-color: transparent var(--base-color) transparent transparent
	&-bottom
		display: flex
		flex-direction: column
		align-items: center
		// padding: 10px
		margin-top: auto