nav.nav
	+logo('logo--nav', false, false, true)
	ul.nav-list
		li.nav-item
			a.nav-link(href="#")
				+xlink('home', 'nav-link')
				span.nav-link__tooltip Lobby
		li.nav-item
			a.nav-link(href="slots.html" class=(pageType === 'inner' ? 'isactive' : ''))
				+xlink('cherry', 'nav-link')
				span.nav-link__tooltip Slots
		li.nav-item
			a.nav-link(href="#")
				+xlink('cards', 'nav-link')
				span.nav-link__tooltip Live Casino
		li.nav-item
			a.nav-link(href="#")
				+xlink('ball', 'nav-link')
				span.nav-link__tooltip Sport
		li.nav-item
			a.nav-link.nav-link--orange(href="#")
				+xlink('spinner', 'nav-link')
				span.nav-link__tooltip Lucky Spin
		li.nav-item
			a.nav-link.nav-link--purple(href="promotions.html" data-nav-count="6")
				+xlink('gift', 'nav-link')
				span.nav-link__tooltip Promo
		li.nav-item
			a.nav-link(href="#")
				+xlink('cup', 'nav-link')
				span.nav-link__tooltip Tourneys
		li.nav-item
			a.nav-link(href="#")
				+xlink('crown', 'nav-link')
				span.nav-link__tooltip Vip
		li.nav-item
			a.nav-link(href="#")
				+xlink('coins', 'nav-link')
				span.nav-link__tooltip Nav item
		li.nav-item
			a.nav-link(href="#")
				+xlink('shop', 'nav-link')
				span.nav-link__tooltip Nav item
	.nav-bottom
		label.theme-switcher
			input.theme-switcher__input(type="checkbox")
			i.theme-switcher__icon
		a.lang.lang--nav(href="#modal-lang" data-modal-target) 
			img.lang-img(src="img/en-flag.svg", alt="")
			.lang-text en
