nav.nav
	+logo('nav-logo')
	ul.nav-list
		li.nav-item
			a.nav-link(href="#" class=(pageType === 'inner' ? 'isactive' : ''))
				img.nav-link__icon(src="img/icon-nav1.svg", alt="")
				span.nav-link__text Casino
		li.nav-item
			a.nav-link(href="#")
				img.nav-link__icon(src="img/icon-nav2.svg", alt="")
				span.nav-link__text Live Casino
		li.nav-item.bd-b
			a.nav-link(href="#")
				img.nav-link__icon(src="img/icon-nav3.svg", alt="")
				span.nav-link__text Sport
		li.nav-item
			a.nav-link(href="#")
				img.nav-link__icon(src="img/icon-nav4.svg", alt="")
				span.nav-link__text Promo
		li.nav-item
			a.nav-link(href="#")
				img.nav-link__icon(src="img/icon-nav5.svg", alt="")
				span.nav-link__text Tourneys
		li.nav-item
			a.nav-link(href="#")
				img.nav-link__icon(src="img/icon-nav6.svg", alt="")
				span.nav-link__text Vip
	.nav-lang
