.category
	&-head
		display: flex
		flex-wrap: wrap
		gap: 12px
		margin-bottom: 35px
	&-nav
		&__input
			&:checked ~ .category-nav__item
				background-color: #DFDCF6
		&__item
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			gap: 15px
			background-color: #fff
			border-radius: 3px
			padding: 14px 10px
			min-width: 117px
			cursor: pointer
			transition: $trs
			&:hover
				background-color: #DFDCF6
		&__icon
			height: 30px
			width: 30px
			flex: none
			fill: #423D72
		&__title
			text-transform: uppercase
			font-weight: 800
			font-size: 11px
			color: #423D72
	&-grid
		display: grid
		gap: 10px
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))