mixin cNav(cIcon, cValue, cTitle, cChecked = false, cClass = false)
	label.category-nav.swiper-slide(class=cClass)
		input.category-nav__input(type="radio", name="game-filter" value=cValue checked=cChecked)
		.category-nav__item
			+xlink(cIcon, 'category-nav')
			span.category-nav__title=cTitle
.category
	.container
		.category-head
			.category-filter
				.category-select
					.category-select__current
						img.category-select__current-icon(src="img/providers.svg", alt="")
						.category-select__current-name Providers
					.category-select__list
						label.category-select__item
							input(type="radio" name="providers" value="pragmatic") 
							span Pragmatic
						label.category-select__item
							input(type="radio" name="providers" value="hacksaw") 
							span Hacksaw
						label.category-select__item
							input(type="radio" name="providers" value="spribe") 
							span Spribe
						label.category-select__item
							input(type="radio" name="providers" value="bgaming") 
							span Bgaming
						label.category-select__item
							input(type="radio" name="providers" value="betsoft") 
							span Betsoft
						label.category-select__item
							input(type="radio" name="providers" value="endorphina") 
							span Endorphina
						label.category-select__item
							input(type="radio" name="providers" value="amatic") 
							span Amatic
				.swiper.category-nav__list
					.swiper-wrapper
						+cNav('casino', 'all', 'All games', true)
						+cNav('fire', 'top', 'Top')
						+cNav('novelty', 'new', 'New')
						+cNav('bonus', 'bonus', 'Bonus buy')
						+cNav('live', 'live', 'Live games', false, 'category-nav--live')
						+cNav('instant', 'instant', 'Instant games')
						a.category-nav.swiper-slide(href="#") 
							img(src="img/aviator.svg", alt="")
						a.category-nav.swiper-slide(href="#") 
							img(src="img/crazytime.jpg", alt="")
						+cNav('roulette', 'roulette', 'Roulette')
						+cNav('blackjack', 'blackjack', 'Blackjack')
						+cNav('g-shows', 'shows', 'Game shows')
						+cNav('poker', 'poker', 'Poker')
						+cNav('heart', 'favourites', 'Favourites')
						+cNav('star', 'popular', 'Popular')
						+cNav('dice', 'baccarat-dice', 'Baccarat & Dice')
		.category-body
			h2.category-body__title All games
			.category-grid
				+game(false, 'top', false, true)
				- for (let x = 0; x < 1; x++)
					+game(false, 'top')
				- for (let x = 0; x < 2; x++)
					+game(false, 'new')
				- for (let x = 0; x < 2; x++)
					+game(false, 'bonus')
				- for (let x = 0; x < 2; x++)
					+game(false, 'live')
				- for (let x = 0; x < 2; x++)
					+game(false, 'instant')
				- for (let x = 0; x < 2; x++)
					+game(false, 'roulette')
				- for (let x = 0; x < 2; x++)
					+game(false, 'blackjack')
				- for (let x = 0; x < 2; x++)
					+game(false, 'shows')
				- for (let x = 0; x < 1; x++)
					+game(false, 'poker')
		.category-footer
			a.category__btn.btn.btn--base.btn--center(href="#") go to ALL GAMES
