.hero
	margin-bottom: 24px
	+xs()
		margin-bottom: 16px
	&-slider
		position: relative
		.swiper-pagination
			bottom: 55px !important
			z-index: 1
			opacity: 0.4
			+sm()
				bottom: 20px !important
			&-bullet
				background-color: #F6F7FA
	&-item
		position: relative
		min-height: 670px
		width: 100%
		padding: 100px 0
		z-index: 1
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		overflow: hidden
		+sm()
			min-height: unset
		&::after
			content: ''
			position: absolute
			height: 100%
			width: 100%
			left: 0
			top: 0
			opacity: 0.68
			+parent('_dark-theme')
				background: linear-gradient(152.29deg, rgba(27, 28, 48, 0.5) -6.12%, rgba(37, 39, 62, 0.5) 42.72%, rgba(37, 39, 62, 0.5) 75.05%, rgba(27, 28, 48, 0.5) 96.42%)
		&__content
			position: relative
			display: flex
			align-items: center
			justify-content: center
			z-index: 1
			flex-direction: column
		&__title
			font-family: var(--accen-font)
			font-style: italic
			text-transform: uppercase
			font-size: 8vw
			color: #fff
			text-align: center
			font-weight: 400
			margin-bottom: -2.5%
			+sm()
				margin-bottom: 40px
				font-size: 10vw
			+xs()
				font-size: 11vw
	&-form
		max-width: 340px
		width: 100%
		display: flex
		gap: 5px
		flex-direction: column
		box-shadow: 0px -12px 80px #151339
		border-radius: 3px