mixin footerNav(nTitle, ...items)
	.footer-nav
		.footer-nav__head
			a.footer-nav__title(href="#")= nTitle
		.footer-nav__list
			each item in items
				a.footer-nav__link(href="#")= item

footer.footer
	.container
		.footer-top
			+logo('logo--footer', 'quattro', 'casino & sportsbook')
		.footer-main
			.footer-main__col
				+footerNav('General Info', 'About QuattroCasino', 'FAQ', 'Contact Us')
				+footerNav('Security', 'Agreement', 'Privacy Policy', 'AML', 'KYC')
			.footer-main__col
				+footerNav('Casino', 'Top', 'New', 'Live Games', 'Slots', 'Instant Games', 'Crash Games', 'All Games')
				a.footer-nav__title.mt-auto(href="#") Lucky Spin
			.footer-main__col
				+footerNav('Live Casino', 'Roulette', 'BlackJack', 'Game Shows', 'Baccarat', 'Poker', 'All Live Casino')
				a.footer-nav__title.mt-auto(href="#") Payments
			.footer-main__col
				+footerNav('Sport', 'Sportsbook', 'Live', 'Betting')
				+footerNav('Promotions', 'Casino Promotions', 'Tournaments', 'VIP', 'Bonus Shop', 'Challenges')
		.footer-bottom


