.game
	display: block
	&-title
		margin-top: 10px
		font-weight: 500
		font-size: 14px
		color: var(--dark_color)
	&-content
		position: relative
		display: block
		border-radius: 3px
		overflow: hidden
		max-width: 100%
		flex: none
		&:hover
			.game-info
				opacity: 1
				pointer-events: unset
				visibility: visible
	&--ver
		max-width: 420px
		width: 100%
		.game-content
			width: 100%
			&::after
				content: ""
				padding-bottom: 150%
				display: block
			img
				position: absolute
				top: 0
				left: 0
				height: 100%
				width: 100%
				object-fit: cover
				object-position: center
	&--hor
		max-width: 600px
		width: 100%
		.game-content
			&::after
				content: ""
				padding-bottom: 63.33%
				display: block
			img
				position: absolute
				top: 0
				left: 0
				height: 100%
				width: 100%
				object-fit: cover
				object-position: center
	
	&-info
		top: 0
		right: 0
		bottom: 0
		left: 0
		position: absolute
		background: rgba(21, 19, 57, 0.9)
		z-index: 1
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between
		padding: 20px
		gap: 10px
		text-align: center
		opacity: 0
		visibility: hidden
		pointer-events: none
		transition: $trs
		&__title
			font-weight: 800
			color: #fff
			font-size: 17px
			margin-bottom: 3px
		&__text
			font-weight: 500
			color: #B2B0E1
			font-size: 13px
		&__link
			font-weight: 800
			font-size: 12px
			color: #E3D9FF
			text-transform: uppercase
			&:hover
				text-decoration: none
	&-body
		display: flex
		align-items: center
		justify-content: center
		flex: 1
		width: 100%
	&-btn
		border-radius: 3px
		display: inline-flex
		align-items: center
		justify-content: center
		text-decoration: none
		font-weight: 800
		background-color: color(--primary_color)
		box-shadow: 0px 6px 40px 3px color(--primary_color)
		border-radius: 3px
		color: #fff
		max-height: 57px
		height: 90%
		max-width: 135px
		width: 100%
		gap: 0.6em
		transition: $trs
		padding: .6em
		&:hover
			box-shadow: none
		&__icon
			height: 1em
			width: 1em
			fill: currentColor