mixin game(gVertical = false, gWidth, gHeight)
	if gVertical === true
		.game
			.game-info
				.game-head
					.game-title Gates of Olympus
					.game-text Pragmatic
				.game-body
					a.btn.btn--primary.btn--md(href="#")
						+xlink('play', 'btn')
						span PLAY
				.game-footer
					a.game-link(href="#") DEMO PLAY
			+lazyJpg("img", "Gates of Olympus", gWidth, gHeight)
	else
		.game
			.game-info
				.game-head
					.game-title Sweet Bonanza
					.game-text Pragmatic
				.game-body
					a.btn.btn--primary.btn--md(href="#")
						+xlink('play', 'btn')
						span PLAY
				.game-footer
					a.game-link(href="#") DEMO PLAY
			+lazyJpg("img2", "Sweet Bonanza", gWidth, gHeight)