extends ../templates/template
block vars
	- var title = 'Страница не найдена';
	- var description = '404 page Description';
	- var navTheme = 'white'
	- var pageLink = '404'
	- var pageType = 'inner'
block content
	h2 Страница не найдена
