//- extends ../templates/template
//- block vars
//- 	- var title = 'Form';
//- 	- var description = 'Form Description';
//- 	- var pageType = 'inner'
//- block content
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/style.css")
	body 
		.container
			.form-group
				label.cs-select
					select(name="gender")
						//- option(value="" selected disabled) Gender
						option(value="male" selected) Male
						option(value="female") Female
		script(src="js/swiper-bundle.min.js") 
		script(src="js/scripts.js") 