extends ../templates/template
block vars
	- var title = 'Main page Title';
	- var description = 'Main page Description';
	- var pageLink = '/'
	- var pageType = 'main'
block content
	.hero
	+slider('Top Games', '{"lg":7,"md":6,"sm":4,"xs":2}', true)
	.section
		.container
			+search()
	+slider('Live Games', '{"lg":4,"md":6,"sm":4,"xs":2}', false)
	+slider('Bonus Buy Slots', '{"lg":5,"md":6,"sm":4,"xs":2}', false)
	//faq
	.faq.faq--index
		.container
			include ../blocks/acc/acc.pug
	//End faq