.providers
	&-slide
		width: auto !important
		min-width: 160px
		background-color: var(--body-bg)
		border-radius: 3px
		display: flex
		align-items: center
		justify-content: center
		height: 60px
		+dark()
			background-color: var(--nav-bg-active)
		+sm()
			background-color: var(--base-bg)
