.acc
	+acc('Does QuattroCasino conduct fair play?')
	+acc('Is my personal data secure at QuattroCasino?')
	+acc('Does QuattroCasino conduct fair play?')
	+acc('Is my personal data secure at QuattroCasino?')