mixin tr(tBadge=false,tBadgeCLass, tBadgeText)
	tr
		td
			.bet-content
				.bet-img
					+lazyJpg('img2', '')
				.bet-cat
					+xlink('cherry', 'bet-cat')
				.bet-info
					a.bet-info__name(href="#") Midas Gloden Touch
					.bet-info__cat Pragmatic
		td
			.bet-player De*** Iva***
		td
			.bet-amount 15€
		td
			.bet-multi
				.bet-multi__text 10.0x
				if tBadge != false
					.bet-multi__badge(class=tBadgeCLass)=tBadgeText
		td
			.bet-payout 150€
		td
			.bet-time 15:31
.bets
	.bets-head
		.bets-head__col
			.bets-nav
				.bets-nav__row
					.tab-switcher.tab-switcher--bg
						.tab-switcher__item.is-active
							i.live-icon.live-icon--primary
							span.text-uppercase Live bets
						.tab-switcher__item
							span.text-uppercase Top wins
						.tab-switcher__indicator
					.tab-switcher.tab-switcher--bd
						.tab-switcher__item.is-active
							span All Bets
						.tab-switcher__item
							span Lucky bets
						.tab-switcher__indicator
						.tab-switcher__item
							span High rollers
						.tab-switcher__indicator

		.bets-head__info
			.bets-live
				.live-icon.live-icon--primary
				p
					b 239 
					| online

	.bets-body
		table.bets-table
			thead.bets-table__head
				tr
					th Game
					th Player
					th BET amount
					th multiplier
					th payout
					th Time
			tbody.bets-table__body
				+tr(false)
				+tr(true, 'bet-multi__badge--primary', 'Mega Win')
				+tr(true, 'bet-multi__badge--secondary', 'Big win')
				+tr(true, 'bet-multi__badge--tertiary', 'huge win')
				+tr(false)
				+tr(false)
				+tr(false)
				+tr(false)