.tab
	display: flex
	gap: 20px
	+md()
		flex-direction: column
	&-container
		padding: 0 30px
	&-nav
		display: flex
		flex-direction: column
		gap: 10px
		width: 120px
		flex: none
		+md()
			flex-direction: row
			overflow: auto
			width: 100%
		&__link
			text-decoration: none
			display: flex
			align-items: center
			justify-content: center
			text-align: center
			position: relative
			font-weight: 500
			font-size: 13px
			text-align: center
			background-color: var(--base-bg)
			min-height: 60px
			padding: 1em
			width: 100%
			border-radius: 3px
			overflow: hidden
			gap: 10px
			+xs()
				white-space: nowrap
				min-width: 96px
				width: auto
				flex: none
			&[data-count]
				&::after
					content: attr(data-count)
					height: 23px
					width: 23px
					display: flex
					align-items: center
					justify-content: center
					text-align: center
					font-weight: 800
					font-size: 12px
					border-radius: 50px
					flex: none
					background-color: color(--primary-color)
					color: #fff
					line-height: 1
			&::before
				content: ''
				position: absolute
				height: 0
				width: 100%
				left: 0
				bottom: 0
				background-color: color(--secondary-color)
				transition: $trs
			&.is-show, &:hover
				text-shadow: 0.5px 0px 0px var(--base-color)
				&::before
					height: 4px
	&-content
		width: 100%
		&__item
			display: none
			&.is-show
				display: block
		&__title
			font-weight: 800
			font-size: 24px
			line-height: 1.25
			margin-bottom: 40px

	&-switcher
		position: relative
		display: inline-flex
		align-items: center
		z-index: 1
		border-radius: 6px
		&__icon
			height: 20px
			width: 20px
			fill: currentColor
		+xs()
			flex-wrap: wrap
			width: 100%
			justify-content: center
		&__content
			display: none
			h3
				font-size: 16px
				font-weight: 800
				margin-bottom: 0.8em
			&.isactive
				display: block
		&--bg
			background-color: rgba(21, 19, 57, 0.1)
			+dark()
				background-color: #333651
			.tab-switcher
				&__indicator
					top: 0
					height: 100%
					background-color: var(--base-color)
					+dark()
						background-color: var(--nav-bg-active)
				&__item
					font-weight: 800
					font-size: 13px
					color: var(--base-color)
					padding: 0 30px
					height: 55px
					&.is-active
						color: var(--nav-color-active)
						span
							opacity: 1
					&:hover:not(.is-active)
						span
							opacity: 0.8
					+xs()
						flex: 1
		&--bd
			gap: 34px
			.tab-switcher
				&__indicator
					bottom: 0
					height: 2px
					background-color: var(--base-color)
				&__item
					font-weight: 700
					font-size: 16px
					padding: 5px 0
					+xs()
						font-size: 15px
					&.is-active
						span
							opacity: 1
					&:hover:not(.is-active)
						span
							opacity: 0.8

		&__indicator
			position: absolute
			left: 0
			border-radius: 6px
			z-index: -1
			transition: .25s ease
		&__item
			cursor: pointer
			display: flex
			align-items: center
			justify-content: center
			gap: 14px
			text-decoration: none
			text-align: center
		span
			transition: .25s ease
			color: inherit
			opacity: 0.5