header.header(class=(pageType != 'main' ? 'header--inner' : 'header--main' ))
	.header__container
		.row.header__row
			.header-side
			.header-center
				img.header-logo.header-logo--main(src="img/header-logo-main.svg", alt="")
				img.header-logo.header-logo--inner(src="img/header-logo-inner.svg", alt="")
			.header-side
				