.header
	position: fixed
	top: 0
	left: $navWidth
	height: $headerHeight
	width: calc(100% - $navWidth)
	border: 1px solid #fff
	padding: 0 36px
	&__row
		align-items: center
	&--main
		background-color: transparent
		.header-logo--inner
			display: none
	&--inner
		background: linear-gradient(180deg, rgba(247, 249, 251, 0.96) 17.36%, rgba(247, 249, 251, 0) 79.67%)
		.header-logo--main
			display: none