header.header
	.header-side.header-side--left.d-sm-none
		+logo('logo--nav', false, false, true)
		if pageType == 'game'
			a.btn.btn--xs.btn--square.btn--light(href="/") 
				+xlink('arrow-left', 'btn')
			.header-info
				.header-info__title Gates Of Olympus
				.header-info__text Pragmatic

	.header-center
		if pageType != 'main'
			+logo('logo--header', 'quattro', 'live casino', true)
		else
			+logo('logo--header', 'quattro', false, true)
	.header-side.header-side--right
		if pageType == 'main'
			a.btn.btn--xs.btn--primary.text-uppercase(href="#")
				span Register
			a.btn.btn--xs.btn--secondary.text-uppercase(href="#")
				+xlink('user', 'btn')
				span Login
		else
			.header-account
				.balance
					.balance-btn
						.balance-btn__label Balance
						.balance-btn__text 1245 €
					.balance-content
						.balance-info
							.balance-info__item
								span Balance
								b EUR 1245
							.balance-info__item
								span Bonus balance
								b EUR 122245
						a.btn.btn--xs.btn--gray(href="account.html#balance-history") Balance history
						a.btn.btn--xs.btn--secondary(href="#") Cashier

				a.btn.btn--xs.btn--primary(href="#")
					span Deposit
			a.btn.btn--xs.btn--square.btn--secondary(href="account.html")
				+xlink('user', 'btn')