header.header.header--fixed
	.header-side.header-side--left.d-sm-none
		if pageType == 'game'
			a.btn.btn--xs.btn--square.btn--light(href="/") 
				+xlink('arrow-left', 'btn')
			.header-info
				.header-info__title Gates Of Olympus
				.header-info__text Pragmatic

	.header-center
		if pageType != 'main'
			+logo('logo--header', 'quattro', 'live casino', true)
		else
			+logo('logo--header', 'quattro', false, true)
	.header-side.header-side--right
		.header-account
			if pageType != 'main'
				a.btn.header-btn.btn--square.btn--secondary(href="#")
					+xlink('user', 'btn')
			else
				.btn.header-btn.btn--secondary.header-mnu
					+xlink('user', 'btn')
			.header-dropdown
				.header-dropdown__head 
					+xlink('user', 'btn')
					span Hello, denis
				a.btn.btn--xs.btn--gray(href="#") Balances
				a.btn.btn--xs.btn--gray(href="#") Personal info
				a.btn.btn--xs.btn--primary(href="#" data-count="6") Bonuses
				a.btn.btn--xs.btn--gray(href="#") History
				a.btn.btn--xs.btn--gray(href="#") Settings
		.header-balance
			.balance
				.balance-btn.header-mnu
					.balance-btn__text 1245.03€
				.header-dropdown
					.balance-info
						.balance-info__item
							span Main balance
							b 1245 €
						.balance-info__item
							span Casino bonus
							b 122245 €
						.balance-info__item
							span Sport bonus
							b 122245 €
						.balance-info__item
							span Quattro Coins
							b.coin 122245
					a.btn.btn--xs.btn--secondary(href="#") Cashier
					a.btn.btn--xs.btn--primary(href="#" data-count="6") Bonuses
					a.btn.btn--xs.btn--gray(href="#") Balance history
			a.btn.header-btn.btn--primary.text-uppercase(href="#")
				span.d-sm-none Deposit
				+xlink('plus', 'd-none d-sm-block btn')
		a.btn.header-btn.btn--square.btn--gray.d-sm-none(href="#")
			+xlink('heart', 'btn')
		a.btn.btn--xs.btn--gray.text-uppercase.d-none.d-sm-flex(href="#")
			+xlink('menu', 'btn')